@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize categories</em>Categories</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('categories/index')">Categories</a></li>
						<li>@$category['name']</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <!-- User Details -->
					<div>
						<h3 class="floatleft">Surveys In @$category['name']</h3>
						<div class="clear"></div>
					</div>

                    <table width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
								<th>Description</th>
                                <th>Created At</th>
								<th>Created By</th>
								<th>Language</th>
								<th>Due Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
						@foreach($surveys as &$survey) {
                            <tr>
								<td><a href="@mvc::url('takesurvey/index/' . $survey['surveypublishid'])">@$survey['title']</a>
								@{
									$tProps = array();
									if(strlen($survey['password']) > 0) {
										$tProps[] = 'password';
									}
									if($survey['type'] != statics::SURVEY_PUBLIC) {
										$tProps[] = 'private';
									}

									if(count($tProps) > 0) {
										echo '(<em>', implode($tProps, ', '), '</em>)';
									}
								}</td>
                                <td>@$survey['description']</td>
								<td>@statics::datePrint($survey['createdate'], false)</td>
                                <td>@$survey['ownerid']</td>
								<td>@statics::$languagesWithCounts[$survey['languageid']]['name']</td>
								<td>@$survey['enddate']</td>
                                <td>
									<a href="@mvc::url('takesurvey/index/' . $survey['surveypublishid'])">Take</a>
								</td>
                            </tr>
						}
                        </tbody>
                    </table>

					<!-- Pagination -->
					<ul id="pagination" class="margintop10px">
						@html::pager(array(
							'total' => $pagerTotal,
							'pagesize' => surveys::PAGE_SIZE,
							'current' => $pagerCurrent,
							'link' => '<li><a href="' . mvc::url('surveys/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'activelink' => '<li class="act"><a href="' . mvc::url('surveys/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'firstlast' => false
						))
					</ul>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')