@views::view('shared/header.cshtml')

				@{
					$url = 'http://' . $_SERVER['HTTP_HOST'] . @mvc::url('surveys/take/');
					$logourl = 'http://' . $_SERVER['HTTP_HOST'] . @$root . '/res/img/logo.png';
				}

				<script src="http://connect.facebook.net/en_US/all.js"></script>

				<script type="text/javascript">
					FB.init({appId: '448617345200807', status: true, cookie: true});

					function postToFeed(surveypublishid, title, description) {
						var obj = {
							method: 'feed',
							redirect_uri: '@$url' + surveypublishid,
							link: '@$url' + surveypublishid,
							picture: '@$logourl',
							name: 'survey-e-bot: ' + title,
							caption: title,
							description: description
						};

						function callback(response) {
							// document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
						}

						FB.ui(obj, callback);
					}
				</script>
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize categories</em>Categories</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('categories/index')">Categories</a></li>
						<li>@$category['name']</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <!-- User Details -->
					<div>
						<h3 class="floatleft">Surveys In @$category['name']</h3>
						<div class="clear"></div>
					</div>

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
								<th>Description</th>
                                <th>Created At</th>
								<th>Created By</th>
								<th>Language</th>
								<th>Due Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
						@foreach($surveys as &$survey) {
							@{
								if(!is_null(statics::$user) || $survey['type'] == statics::SURVEY_PUBLIC) {
									$url = @mvc::url('surveys/take/' . $survey['surveypublishid']);
								}
								else {
									$url = 'javascript:notifyLogin();';
								}
							}
                            <tr>
								<td><a href="@$url">@$survey['title']</a>
								@{
									$tProps = array();
									if(strlen($survey['password']) > 0) {
										$tProps[] = 'password';
									}
									if($survey['type'] == statics::SURVEY_PUBLIC) {
										$tProps[] = 'public';
									}

									if(count($tProps) > 0) {
										echo '(<em>', implode($tProps, ', '), '</em>)';
									}
								}</td>
                                <td>@$survey['description']</td>
								<td>@statics::datePrint($survey['createdate'], false)</td>
                                <td>@$survey['ownerid']</td>
								<td>@statics::$languagesWithCounts[$survey['languageid']]['name']</td>
								<td>@statics::datePrint($survey['enddate'], false)</td>
                                <td>
									<a href="@$url">Take</a>
									·
									<a href="javascript:postToFeed('@$survey['surveypublishid']', '@string::squote($survey['title'])', '@string::squote($survey['description'])')">Share</a>
								</td>
                            </tr>
						}
                        </tbody>
                    </table>

					<!-- Pagination -->
					<ul id="pagination" class="margintop10px">
						@html::pager(array(
							'total' => $pagerTotal,
							'pagesize' => categories::PAGE_SIZE,
							'current' => $pagerCurrent,
							'link' => '<li><a href="' . mvc::url('categories/list/' . $category['categoryid'] . '/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'activelink' => '<li class="act"><a href="' . mvc::url('categories/list/' . $category['categoryid'] . '/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'firstlast' => false
						))
					</ul>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')