@charset "utf-8";

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700|Gudea:400,700');

@import url('theme.css');

@import url('nivo-slider.css');
@import url('prettyPhoto.css');
@import url('prettySociable.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both; }
.alignRight { text-align: right; }
.alignCenter { text-align: center; }
.marginTop10px { margin-top: 10px; }
.marginTop20px { margin-top: 20px; }
.marginBottom10px { margin-bottom: 10px; }
.marginBottom30px { margin-bottom: 30px; }
.padding10px { padding: 10px; }
.paddingLeft50px { padding-left: 50px !important; }
.cellpadding4px td { padding: 4px; }
.width200px { width: 200px; }
.bglight { background: #F1FDEB; }
.valignTop { vertical-align: top; }
img { border: 0; }
th { text-align: left; }
.xline { height: 1px; background: #D0D0D0; display: block !important; margin: 10px 0px 10px 0px; }
.urlbox { height: 50px; }
.ppopup { margin: auto; border: 1px solid #C0C0C0; background: #FFFFFF; padding: 20px 40px 20px 40px; border-radius: 10px; margin-top: 30px; }

body {
	background: url('/survey/res/img/body-bg.jpg');
	font-size: 12px;
	line-height: 21px;
	color: #444444;
	padding-bottom: 60px;
	height: auto;
	margin: 0px 25px 0px 25px;
}

#page { min-width: 960px; max-width: 1260px; margin: 50px auto 0; background: #ffffff; }


/* =Typography
--------------------------------------------------------------------------------------------------------*/

/* fonts */
body, input[type="text"], input[type="password"], input[type="submit"], input[type="button"], button, textarea, select, #footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 { font-family: "Open Sans", Arial, Helvetica, sans-serif; }
h1, h2, h3, h4, h5, h6, #main-nav, .nivo-caption, #homepage-post { font-family: "Gudea"; }

/* links */
a { color: #444444; text-decoration: none; }
a:hover { text-decoration: underline; }

/* p tag */
p { padding-bottom: 18px; }

/* lists */
#main-col ul, #main-col ol { padding: 7px 0 18px; }
#main-col ul { list-style-type: square; list-style-position: inside; }
#main-col ul ul, #main-col ol ol { padding: 5px 0 2px; font-size: 11px; color: #444444; }
#main-col ul ul { margin-left: 14px; }
#main-col ul li { padding: 0 0 6px 2px; }
#main-col ul ul li { padding-bottom: 2px; }
#main-col ul.arrow { max-width: 90%; }
#main-col ul.arrow li {
	background-position: 0 9px;
	background-repeat: no-repeat;
	padding: 7px 0 9px 23px;
	border-top: #ccc 1px dotted;
	list-style-type: none;
	list-style-position: outside;
}
#main-col ul.arrow li:first-child { border: none; padding-top: 0; background-position: 0 2px; }
#main-col ul.arrow ul { margin-left: 0; }
#main-col ul.arrow ul li { padding: 0 0 2px 11px; background-position: -6px 7px; list-style-type: none; }
#main-col ol li {
	padding-bottom: 6px;
	list-style-type: decimal;
	list-style-position: inside;
}
#main-col ol ol li {list-style-type: lower-alpha; margin-left: 20px; padding-bottom: 2px; }
#main-col .full-page-text ul, #main-col .full-page-text ol { padding-top: 2px; padding-left: 15px; }
#main-col .full-page-text ul.arrow li { background-position: 0 11px; border-top: none; padding-bottom: 1px; }
#main-col .full-page-text ul.arrow li:first-child { background-position: 0 4px !important; }
#main-col .full-page-text ul.arrow ul li { background: url('/survey/res/img/li-inner.png') 0 9px no-repeat; padding-left: 14px; }

/* other */
blockquote {
	padding: 3px 0 0 36px;
	margin: 8px 0 10px 40px;
	font-size: 18px;
	line-height: 28px;
	background-position: 0 8px;
	background-repeat: no-repeat;
}

.h-light1 { color: #ffffff; background: #FFB300; padding: 0 4px; }
.h-light1 a { color: #ffffff; !important; font-weight: bold; }
.h-light2 { border-bottom-width: 1px; border-bottom-style: dotted; }

/* columns */
.col-25, .col-50, .col-75, .col-33, .col-66 { float: left; margin-right: 30px; padding-bottom: 15px; }
#homepage-teasers .col-25, #homepage-teasers .col-50, #homepage-teasers .col-33, #homepage-teasers .col-66, #homepage-teasers .col-75,
#footer .col-25, #footer .col-50, #footer .col-33, #footer .col-66, #footer .col-75 { margin: 0; }

.c-last { margin: 0; }
.col-75 { width: 438px; }
.col-50 { width: 276px; }
.col-25 { width: 121px; }
.col-33 { width: 173px; }
.col-66 { width: 382px; }
.col-100 { width: auto !important; float: none !important; }

#home .col-50 { width: 295px; }
#home .col-25 { width: 132px; }
#home .col-33 { width: 186px; }
#home .col-66 { width: 404px; }
#home .col-75 { width: 457px; }

#homepage-teasers .col-75 { width: 464px; }
#homepage-teasers .col-50 { width: 310px; }
#homepage-teasers .col-25 { width: 155px; }
#homepage-teasers .col-33 { width: 207px; }
#homepage-teasers .col-66 { width: 412px; }

#footer .col-25 { width: 130px; }
#footer .col-50 { width: 295px; }
#footer .col-75 { width: 460px; }
#footer .col-33 { width: 185px; }
#footer .col-33 { width: 405px; }
#footer .col-100 { border: none !important; }

#portfolio .col-33 { width: 188px; }

/* tables */
table.extable { border-collapse: collapse; font-size: 12px; cursor: default; }
table.extable th {
	background: #EFEFEF;
	font-weight: 300;
	text-align: left;
	padding: 5px 10px 6px 14px;
	border: #DDE0E4 1px solid;
}
table.extable td {
	padding: 5px 10px 6px 14px;
	border: #DDE0E4 1px solid;
	color: #444444;
}
table.extable tr:hover td { background-color: #FFFFCC; }
.cell-hidden { border: none; background: none; }
.innertable { margin-top: 20px; }
.innertable tr td:first-child {
	background: url('/survey/res/img/li-inner.png') 10px 13px no-repeat;
	padding: 0px 0px 0px 30px;
}
.innertable td, innertable th{
	border-width: 0px 0px 1px 0px;
	border-style: dashed;
}

/* End Typography
--------------------------------------------------------------------------------------------------------*/



/* =Headings
--------------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 26px;
	line-height: 30px;
	padding: 6px 0 18px;
	padding-bottom: 11px;
}
h1 em, h1 i {
	font-size: 18px;
	line-height: 20px;
	padding-top: 7px;
	font-weight: normal;
	font-style: normal;
	float: right;
}

h2 { font-size: 20px; line-height: 25px; padding: 4px 0 14px; }
h3 { font-size: 18px; line-height: 23px; padding: 4px 0 12px; }
h4 { font-size: 16px; line-height: 21px; padding: 4px 0 10px; }
h5 { font-size: 15px; line-height: 21px; padding: 4px 0 10px; }
h6 {
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	padding: 4px 0 3px;
}

/* End Headings
--------------------------------------------------------------------------------------------------------*/



/* =Branding
--------------------------------------------------------------------------------------------------------*/

#logo {
	width: 280px;
	display: block;
	overflow: hidden;
}
#logo img { display: block; }

#big-slider, #slider-container {
	overflow: hidden;
	height: 365px;
	position: relative;
}
#big-slider {
	background: #EFEFEF;
}
#big-slider a { display: block; }
.nivo-controlNav {
	height: 24px;
	float: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 1001;
	position: absolute;
	top: 0;
	right: 0;
	padding: 11px 17px 0 17px;
}
.nivo-controlNav a {
	display: block;
	width: 14px;
	float: left;
	text-indent: -100px;
	overflow: hidden;
	height: 14px;
	margin-right: 8px;
	background: url('/survey/res/img/control-item.png') 0 -14px repeat;
}
.nivo-controlNav a.active { background-position: 0 0; }

.nivo-caption {
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding: 0 4px 0 30px;
	top: 0;
	height: 35px;
	line-height: 35px;
	left: auto;
	font-size: 14px;
	font-weight: 300;
	left: 0;
	white-space: nowrap;
	position: absolute;
	opacity: 1 !important;
}
.nivo-caption p { padding: 0; }

/* End Branding
--------------------------------------------------------------------------------------------------------*/



/* =Main Nav
--------------------------------------------------------------------------------------------------------*/

#main-nav {
	line-height: 33px;
	font-size: 14px;
	float: left;
	background: #24D4FA;
}
#main-nav ul li a {
	text-decoration: none;
	display: block;
	padding-left: 25px;
	height: 35px;
}
#main-nav ul li.dd a {
	background-image: url('/survey/res/img/menu-dd.png');
	background-position: 254px 12px;
	background-repeat: no-repeat;
}
#main-nav ul li {
	height: 35px;
	width: 280px;
	float: left;
	margin-top: 1px;
	display: block;
	position: relative;
	z-index: 1000;
}
#main-nav ul li.current-menu-item a, #main-nav ul li:hover a { color: #ffffff; }
#main-nav ul li.current-menu-item, #main-nav ul li:hover { border-top-width: 1px; border-top-style: solid; margin-top: 0 !important; }
#main-nav ul li.dd:hover a { width: 256px; }
#main-nav ul li:first-child { padding-top: 0; }

/* second level */
#main-nav ul li ul {
	display: none;
	position: absolute;
	left: 281px;
	border: 1px solid #ffffff;
	border-left: none;
	top: -1px;
	font-size: 14px;
	white-space: nowrap;
	padding: 0 20px;
}
#main-nav ul li ul li {
	width: 110px;
	clear: both;
	border-top-width: 1px;
	border-top-style: solid;
	margin: 0;
}
#main-nav ul li ul li:first-child { border: none; }
#main-nav ul li:first-child ul { top: 0; }
#main-nav ul li:hover ul { display: block; }
#main-nav ul ul a {	width: auto !important;	padding: 0 !important; text-align: center; }
#main-nav ul ul li:hover a, #main-nav ul ul li.current-menu-item a { color: #ffffff !important; }


/* End Main Nav
--------------------------------------------------------------------------------------------------------*/


/* =Sub Nav
--------------------------------------------------------------------------------------------------------*/

#share {
	position: absolute !important;
	left: auto !important;
	right: -21px !important;
	top: 25px !important;
	width: 21px !important;
	height: 90px !important;
	display: none !important;
	opacity: 1 !important;
}

/* End Sub Nav
--------------------------------------------------------------------------------------------------------*/


/* =Main Content
--------------------------------------------------------------------------------------------------------*/

#wrap { float: left; width: 100%; }

#main-col {
	margin: -25px 0px 0px 280px;
	background: #FFFFFF;
	position: relative;
	padding: 25px 30px 0px 30px;
	width: 920px;
}

#home #page .mainwrap {
	width: 620px;
	float: left;
}

#home #page .rightwrap {
	width: 290px;
	background: #F1FDEB;
	float: left;
	margin-left: 10px;
}

/* homepage post */
#homepage-post {
	border-top-width: 1px;
	border-top-style: solid;
	padding: 16px 25px 10px 30px;
	text-align: center;
}
#homepage-post .p-title, #homepage-post .p-title a { color: #ffffff; letter-spacing: -1px; }
#homepage-post .p-content {
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
	margin-top: -1px;
}

#homepage-teasers {
	overflow: hidden;
}
#ht-inner { width: 625px; }

/* breadcrumnbs */
#page #breadcrumbs {
	height: 29px;
	line-height: 28px;
	padding: 0px;
	border: 1px solid #ffffff;
	border-top: none;
	border-bottom: none;
	font-size: 12px;
}
#page #breadcrumbs li {
	float: left;
	padding: 0 0 0 16px;
	margin-right: 6px;
	background-position: 3px 11px;
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-position: outside;
}
#page #breadcrumbs li:first-child { background: none; padding-left: 15px; }
#breadcrumbs li a { float: left; }
#breadcrumbs li a:hover { text-decoration: underline; }

/* main title on page */
#page-head {
	margin-bottom: 25px;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
#page-head h1 {
	padding: 15px 15px 12px;
	color: #ffffff;
	height: 33px;
}

/* wp classes and meta info formatting */
.alignleft, .alignright, .aligncenter { border: #ddd 1px solid; margin-top: 7px; padding: 1px; }
.aligncenter { margin: 0 auto; display: block; }
.alignright { float: right; margin-left: 18px; margin-bottom: 4px; }
.alignleft { float: left; margin-right: 18px; margin-bottom: 4px; }
.floatleft { float: left; }
.floatright { float: right; }
.margintop10px { margin-top: 10px; }
.borderBottomDashed1px { border-bottom: 1px dashed #E0E0E0; }
.stripe { padding: 10px 10px 20px 10px; }
.stripeEven { background-color: #F5F5F5; }
#blog #main-col .alignleft, #blog #main-col .alignright, #blog #main-col .aligncenter {
	border: none;
	background: #ffffff;
	padding: 3px;
	margin: 0 0 10px;
	display: block;
}
#blog .aligncenter { width: 539px; }

#pagination { overflow: hidden; padding: 0 !important; }
#pagination li {
	float: left;
	background: none !important;
	padding: 0 !important;
	font-size: 14px;
	margin-right: 10px;
	list-style-type: none;
}
#pagination a {
	text-decoration: none;
	background: #F9F9F9;
	color: #aaa;
	display: block;
	text-align: center;
	width: 30px;
	padding-right: 2px;
	height: 27px;
	line-height: 26px;
	border: #ddd 1px solid;
}
#pagination li.act a, #pagination li a:hover { color: #ffffff; }

/* page content and post body formatting */
.full-page-text { margin: 0 15px 10px; font-size: 13px; line-height: 22px; }

.post { margin-bottom: 25px; padding-bottom: 25px; }
.post .p-title { padding: 3px 4px 1px; font-size: 20px; }
.post .p-title a:hover { text-decoration: underline; }
.post-content { padding: 6px 4px 2px; line-height: 19px; }

.post-item { overflow: hidden; padding: 4px 0 9px; }
.post-item .p-title { padding: 4px 0 5px; line-height: 20px; font-weight: bold; }

.thumbnail { margin-top: 3px !important; }
.thumbnail img { display: block; }

#homepage-post .p-title a:hover { text-decoration: none; }
#blog .post {
	padding: 11px 18px 0 15px;
	margin-bottom: 30px;
	margin-right: 32px;
	min-height: 100px;
	position: relative;
	background: #efefef;
}
#blog .post-content { font-size: 12px; }

#blog .p-meta { position: absolute; right: -46px; top: 0; }
#in-post-meta {
	overflow: hidden;
	background: #efefef;
	height: 34px;
	line-height: 34px;
	padding: 0 12px;
}

.format-standard .p-type, .format-image .p-type, .format-link .p-type, .format-video .p-type {
	background: #d7d7d7 url('/survey/res/img/post-types.png') 8px -47px no-repeat;
	display: block;
	width: 39px;
	height: 39px;
}
.format-video .p-type { background-position: 7px -101px; }
.format-image .p-type { background-position: 7px 11px; }
.format-link .p-type { background-position: 7px -158px; }
.format-link .p-title a { padding-right: 20px; background: url('/survey/res/img/ext-link.png') 100% 100% no-repeat; }

#blog .p-meta .date {
	background: #d7d7d7;
	width: 39px;
	float: none;
	border: none;
	color: #ffffff;
	padding: 5px 0 4px;
	border-top: #efefef 1px solid;
}
a.comments-count {
	display: block;
	height: 40px;
	width: 39px;
	border-top: #efefef 1px solid;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #ffffff;
	line-height: 32px;
	background-position: 0 -4px;
	background-repeat: no-repeat;
}
a:hover.comments-count { background-position: 0 -48px; text-decoration: none; }

img.thumbnail { margin-bottom: 14px !important; }

.accordion, .accordion2 { padding-bottom: 20px; clear: both; }
.accordionTitle, .accordionTitle2, .tabs li a {
	margin-top: 10px;
	background: #EFEFEF url('/survey/res/img/plus-minus.png') 14px 7px no-repeat;
	border: 1px solid #e3e3e3;
	height: 32px;
	line-height: 31px;
	color: #444444;
	font-size: 13px;
	padding: 0 14px 0 44px;
	cursor: pointer;
}
.accordionTitle:hover { background-color: #ffc; }
.a-open { background-position: 14px -75px; }
.accordionContent, .accordionContent2 {
	padding: 14px;
	overflow: hidden;
	border: 1px solid #e3e3e3;
	border-top: none;
}

.tabs_table { clear: both; }
.tabs {	padding: 0 0 0 1px !important; margin-bottom: -1px; height: 34px; }
.tabs li {
	float: left;
	list-style-type: none !important;
	list-style-position: outside !important;
	cursor: pointer;
	white-space: nowrap;
	margin-left: -1px;
	padding: 0 !important;
}
.tabs li a {
	display: block;
	float: left;
	padding-left: 14px;
	background: #EFEFEF;
	margin: 0;
}
.tabs li a:hover { text-decoration: none; background: #ffc; }
.tabs li a.selected { background: #ffffff; border-bottom: 1px solid #ffffff; position: relative; }
.panes { border: 1px solid #e3e3e3; padding: 14px; }

#cat-container { padding: 5px 0 10px; }
#portfolio #cat-container { width: 650px; }
.p-category { padding: 0 !important; margin-top: -25px !important; }

#portfolio-media { padding-top: 10px; width: 590px; }
#portfolio-media ul { float: right; width: 76px; }
#portfolio-media li { list-style-type: none; padding: 0 0 20px !important; overflow: hidden; width: 76px; }
#portfolio-media li img { display: block; border: #efefef 3px solid; }

#full-size {
	width: 485px;
	border: 3px solid #EFEFEF;
	overflow: hidden;
	left: -3px;
	position: relative;
}
#full-size img { display: block; }

a.more {
	padding: 3px 29px 3px 8px;
	border-width: 1px;
	border-style: solid;
	background-position: 100% 0;
	background-repeat: no-repeat;
	font-size: 12px;
	position: relative;
	font-weight: bold;
	border-radius: 2px;
	text-shadow: 1px 1px 0 #ffffff;
}
a:hover.more {
	text-decoration: none;
	text-shadow: none;
	color: #ffffff;
	background-position: 100% -23px;
}

a.xbutton {
	padding: 3px 8px 3px 8px;
	border-width: 1px;
	border-style: solid;
	font-size: 12px;
	position: relative;
	font-weight: bold;
	border-radius: 2px;
	text-shadow: 1px 1px 0 #ffffff;
}
a:hover.xbutton {
	text-decoration: none;
	text-shadow: none;
	color: #ffffff;
}


#p-filter {
	border-bottom: 1px dotted #D8D8D8;
	height: 23px;
	padding: 0 !important;
	width: 620px;
}
#p-filter li { list-style: none; float: right; padding: 0 !important; }
#p-filter li:first-child { float: left; margin-left: 10px; }
#p-filter li:first-child a { float: left; }
#p-filter a { float: left; height: 24px; margin: 0 15px 0 5px; color: #444444; }
#p-filter a:hover {
	text-decoration: none;
	height: 21px;
	border-bottom: #D8D8D8 3px solid;
	color: #aaa;
}
#p-filter a.act { height: 21px; border-bottom-width: 3px; border-bottom-style: solid; }

.p-item { margin: 30px 23px 0 12px; padding: 0 !important; overflow: hidden; }

.p-item dt {
	position: relative;
	background: #efefef;
	float: left;
	width: 73px;
	height: 58px;
	padding: 3px 0 0 3px;
}
.item-off dt:hover { background: #efefef; }

.p-item dd {
	padding: 2px 0 0 14px;
	float: left;
	width: 186px;
	line-height: 18px;
}
.p-item dd a { font-size: 14px; font-weight: bold; }
.p-item dd span { display: block; font-size: 12px; padding-top: 2px; color: #444444; }

/* =End Main Content
--------------------------------------------------------------------------------------------------------*/


/* =Secondary Content
--------------------------------------------------------------------------------------------------------*/

#left-col {
	float: left;
	margin-left: -100%;
	width: 280px;
	color: #444444;
	background-color: #efefef;
}
#left-col a { color: #444444; }

/* basic widget structure */
.widget {
	padding-top: 30px;
	padding-bottom: 0;
	float: left;
	font-size: 12px;
	line-height: 18px;
}
#left-col .widget { padding: 0px 25px 25px 25px; width: 230px; }
#left-col .w-title { padding: 0 0 6px; font-weight: normal; }

/* homepage widgets */
#homepage-teasers .widget { padding: 0; text-align: center; }
#homepage-teasers .w-title {
	height: 34px;
	line-height: 32px;
	color: #ffffff;
	padding: 0px 10px 0px 10px;
}
#homepage-teasers .w-content {
	background: none no-repeat 10px 10px;
	padding: 12px 12px 32px 70px;
	border: 1px solid #ACE691;
	border-top: 0px;
}
#homepage-teasers div.pic1 {
	background-image: url('/survey/res/img/icon-1.png');
}
#homepage-teasers div.pic2 {
	background-image: url('/survey/res/img/icon-2.png');
}
#homepage-teasers div.pic3 {
	background-image: url('/survey/res/img/icon-3.png');
}
#homepage-teasers div.pic4 {
	background-image: url('/survey/res/img/icon-4.png');
}

/* latest posts widget */
.w-news li {
	clear: both;
	overflow: hidden;
	line-height: 18px;
	padding: 14px 0;
	border-top: 1px dotted #D8D8D8;
}
.w-news li:first-child { border-top: none; }
.w-news .thumb {
	float: left;
	background: #ffffff;
	padding: 2px;
	border: #DDE0E4 1px solid;
	margin: -3px 10px 0 0;
}
.w-news span, .p-meta .date {
	display: block;
	background: #ffffff;
	color: #bbb;
	line-height: 16px;
	float: left;
	padding: 5px 0 4px;
	margin: -1px 14px 0 0;
	width: 34px;
	text-align: center;
	text-transform: uppercase;
	border-right: #DDE0E4 1px solid;
	border-bottom: #DDE0E4 1px solid;
	font-size: 10px;
}
.w-news span strong, .p-meta .date strong { display: block;	font-size: 16px; color: #c5c5c5; }
.w-news small { font-size: 10px; text-transform: uppercase; }
.p-meta .date strong { color: #ffffff; }
.p-meta .date strong { font-size: 15px; }

.inlineBlock {
	display: inline-block !important;
}

#fblogin {
	background: url('/survey/res/img/fblogin.png') no-repeat;
	width: 72px;
	height: 28px;
	display: inline-block;
}

.classiclogin {
	height: 28px !important;
	width: 72px;
	padding: 0px !important;
	line-height: 20px !important;
}

/* list widget */
.widget_categories ul, .widget_recent_comments ul, .widget_tag_cloud ul { padding-top: 8px; overflow: hidden; }
.widget_categories a, .widget_tag_cloud a {
	text-decoration: none;
	color: #aaa;
	display: block;
	float: left;
	padding: 3px 9px 4px 8px;
	border-radius: 2px;
	border-right: #DDE0E4 1px solid;
	border-bottom: #DDE0E4 1px solid;
	background: #ffffff;
	font-size: 12px;
}
.widget_categories li, .widget_tag_cloud li { float: left; padding: 0 4px 4px 0; }
.widget_categories a:hover, .widget_tag_cloud a:hover { color: #ffffff !important; }
.widget_recent_comments ul li { background: url('/survey/res/img/comment.png') 0 5px no-repeat; padding: 0 0 12px 20px; }
.widget_recent_comments a { border-bottom: #e0e0e0 1px solid; }
.widget_recent_comments a:hover { text-decoration: none; }

#comments { padding: 25px 15px 0; }

.commentlist { padding-top: 10px; }
.commentlist li.comment { list-style-type: none !important; }
.comment-author { font-size: 16px; }
img.avatar {
	float: left;
	margin-right: 17px;
	border: 3px solid #EFEFEF;
	display: block;
}
.fn { font-style: normal; }
.comment-meta { padding: 4px 0 10px; }
.comment-meta a { color: #444444 !important; font-size: 11px; }
.comment-body, .reply { padding-left: 63px; }
.reply { margin-top: -8px; }
.questiontype { font-style: italic; font-size: 8pt; color: #606060; }

/* End Secondary Content
--------------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------------*/

#footer { clear: both; padding-bottom: 30px; font-size: 12px; }

/* footer tags */
#footer a { text-decoration: none; }
#footer a:hover { color: #ffffff; text-decoration: underline; }
#footer ul li { background: url('/survey/res/img/footer-li.png') 0 9px no-repeat; padding-left: 14px; }

/* footer left/right sidebar */
#f-left-col { float: left; width: 280px; }
#sidebar-end {
	background: #efefef;
	padding: 12px 24px 26px 25px;
	margin-top: -1px;
	position: relative;
	float: left;
	width: 231px;
}
#copyright {
	text-align: center;
	padding-top: 31px;
	clear: both;
	font-size: 12px;
}

/* footer main column (footer widget area) */
#f-main-col { margin: 0px auto 0px auto; width: 700px; }
#footer .widget {
	float: left;
	line-height: 22px;
	margin: 30px 4px 0 30px;
	padding: 3px 0;
	border-right-width: 1px;
	border-right-style: solid;
}

#footer .w-title {
	font-weight: normal !important;
	color: #ffffff !important;
	font-size: 12px !important;
	line-height: 22px !important;
	padding: 0 !important;
}
#footer .c-last { border-right: none !important; }

#footer img.alignright { margin: -20px 0 0; }

.clear-wrap { height: 45px; }
#home .clear-wrap { height: 0px; }
#portfolio .clear-wrap { height: 55px; }

/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =Forms
--------------------------------------------------------------------------------------------------------*/

/* default form styling */
input[type="text"], input[type="password"], input[type="submit"], input[type="button"], button, textarea, select {
	border: #dde0e4 1px solid;
	font-size: 13px;
	background: #ffffff;
	color: #222222;
	padding: 3px 0 3px 10px;
}
input[type="text"].input-off, input[type="password"].input-off { font-size: 12px !important; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus { border: 1px solid #bbb; }
input[type="submit"], input[type="button"], button {
	padding: 0 10px 2px;
	height: 34px;
	line-height: 30px;
	cursor: pointer;
	border: 1px solid #DDE0E4;
	background: #EFEFEF;
	color: #444444;
}
input[type="submit"]:hover, input[type="button"]:hover, button:hover { color: #ffffff; }
textarea {
	height: 140px;
	width: 300px;
	line-height: 20px;
	padding: 6px 10px 6px 10px;
}
fieldset { overflow: hidden; padding-bottom: 20px; }
label.error, p.error {
	clear: both;
	width: auto;
	font-size: 12px;
	line-height: 16px;
	padding-top: 4px;
	height: auto;
	color: #b73939;
}
input.error, textarea.error, select.error, input.error:focus, textarea.error:focus, select.error:focus { border: #b73939 1px solid; }
p.error { font-size: 14px; }

/* subscribe form */
#subscribe { display: block; height: 32px; }
#subscribe input { display: block; float: left; }
#subscribe input[type="text"] {
	border-right: none;
	width: 180px;
	font-size: 13px;
	padding-bottom: 1px;
}
#subscribe input[type="submit"] {
	border-left: none !important;
	width: 38px;
	height: 32px;
	font-size: 14px;
	padding: 0;
	background-image: url('/survey/res/img/subscribe-submit.png');
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: center 7px;
}
#subscribe input[type="submit"]:hover { background-position: center -30px; border: 1px solid #D5D9DE; border-left: none; }
#subscribe input[type="submit"].focused { border: #bbb 1px solid; border-left: none; }

/* contact and comments forms */
#contact, #respond { padding-top: 5px; }
#contact label { width: 70px; }
#respond label { width: 80px; }
#contact label.error, #respond label.error { width: auto; padding-left: 80px; }
#respond label.error { padding-left: 90px; }
#contact input[type="submit"] { margin-left: 80px; }
#respond input[type="submit"] { margin-left: 90px; }
#contact select { width: 312px; }
#contact textarea, #respond textarea { width: 400px; }


/* End Forms
--------------------------------------------------------------------------------------------------------*/



/* =Misc
--------------------------------------------------------------------------------------------------------*/

.divider-dotted {
	border-bottom: 1px dotted #D8D8D8;
	height: 1px;
	line-height: 1px;
	font-size: 1px;
	clear: left;
	float: left;
	width: 590px;
	margin-bottom: 26px;
}
#ps_hover, .pp_social { display: none !important; }
.pp_description { padding-bottom: 0 !important; }
#pp_full_res { overflow: hidden; }


/* =Messages
--------------------------------------------------------------------------------------------------------*/

.msgerror, .msgsuccess, .msginfo, .msgwarning {
	padding: 10px 15px 10px 40px;
	margin: 15px;
	font-weight: bold;
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: block;
	clear: both;
}

.msgerror p, .msgsuccess p, .msginfo p, .msgwarning p {
	padding: 0;
	width: 93%;
	float: left;
}

.msgerror {
	border: 1px solid #e9c59b;
	background: #ffecce url('/survey/res/img/error.gif') 12px 12px no-repeat;
	color: #e3302c;
}

.msgsuccess {
	border: 1px solid #bfde84;
	background: #edfbd8 url('/survey/res/img/success.gif') 12px 12px no-repeat;
	color: #508600;
}

.msginfo {
	border: 1px solid #bbdbe0;
	background: #ecf9ff url('/survey/res/img/info.gif') 12px 12px no-repeat;
	color: #0888c3;
}

.msgwarning {
	border: 1px solid #e5e181;
	background: #fefde2 url('/survey/res/img/warning.gif') 12px 12px no-repeat;
	color: #666;
}

/* End Misc
--------------------------------------------------------------------------------------------------------*/