@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>jump start to create surveys</em>Registration</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Registration</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <!-- User Details -->
                    <h3>User Details</h3>
                    <form action="@mvc::url('user/profile')" method="post" id="contact">
                        <fieldset>
                            <label id="displayname_label" for="displayname">Display Name *</label>
                            <input type="text" size="50" id="displayname" name="displayname" class="required" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="firstname_label" for="firstname">First Name *</label>
                            <input type="text" size="50" id="firstname" name="firstname" class="required" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="lastname_label" for="lastname">Last Name *</label>
                            <input type="text" size="50" id="lastname" name="lastname" class="required" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="phonenumber_label" for="phonenumber">Phone</label>
                            <input type="text" size="50" id="phonenumber" name="phonenumber" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="email_label" for="email">E-mail *</label>
                            <input type="text" size="50" id="email" name="email" class="required email" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="password_label" for="password">Password *</label>
                            <input type="password" size="50" id="password" name="password" class="required" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="password2_label" for="password2">Password *</label>
                            <input type="password" size="50" id="password2" name="password2" class="required" value="" />
                        </fieldset>
                        <fieldset>
                            <label id="logo_label" for="logo">Logo</label>
                            <input type="file" id="logo" name="logo" />
                        </fieldset>
                        <fieldset>
                            <label id="verification_label" for="verification">Captcha *</label>
							<div class="inlineBlock">
								<img src="@mvc::url('user/image')" alt="" />
								<input type="text" size="50" id="verification" name="verification" class="required" value="" />
							</div>
                        </fieldset>
                        <input type="submit" value="Register" id="submit_btn" name="submit" />
                    </form>
    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')