@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Create New Publish</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Publish Surveys</a></li>
                        <li>New Survey</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
                    
                    <h3>Publish Survey</h3>

					<form id="addQuestion" method="post" action="@mvc::url('surveypublish/edit/' . $publishSurveys['surveypublishid'])">
					<p>Description Goes Here:)</p>
					<p>Survey : @$publishSurveys['title']</p>
					<p> Start Date :  <input type="text" name="startdate" value="@$publishSurveys['startdate']" /></p>
					<p> End Date :   <input type="text" name="enddate" value="@$publishSurveys['enddate']" /></p>
					<p> Password :  <input type="password" name="password" value="@$publishSurveys['password']" /></p>
					<p> Limit :  <input type="text" name="limit" value="@$publishSurveys['limit']" /></p>
					<p> Type :  <select name="type">
					@html::selectOptions(statics::$surveytypes, $publishSurveys['type'])
					</select>
					</p>
					<p> Survey Publish Status :  <select name="enabled">
					@html::selectOptions(statics::$surveystatus, $publishSurveys['enabled'])
					</select>
					</p>
					<p> <input type="submit" value="Edit" /></p>
					</form>

                   
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')