<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <title>Foundation - Premium HTML Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/survey/res/css/style.css" />
    
    <!-- JavaScript -->
    <script type="text/javascript" src="/survey/res/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/survey/res/js/superfish.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.prettySociable.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/survey/res/js/main.js"></script>
    
</head>

<body id="blog"><!-- #home || #page-post || #blog || #portfolio -->

    <!-- Page Start -->
    <div id="page">
    
        <!-- Main Column Start -->
        <div id="wrap">
            <div id="main-col">
            
                <a href="#" id="share" rel="prettySociable" title="Drag to Share"><img src="/survey/res/img/share.png" alt="" /></a>
                
                <!-- Breadcrumbs, Title, Description -->
                <div id="page-head">
                    <h1><em>interesting news and events</em>Blog</h1>
                    <ul id="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Templates</a></li>
                        <li>Blog</li>
                    </ul>
                </div>
                
                <!-- Posts Container Start -->
                <div id="cat-container">

                    <div class="post format-standard">
                    	<div class="p-meta">
                        	<div class="p-type"></div>
	                        <div class="date"><strong>21</strong>Feb</div>
                            <a href="#" class="comments-count">36</a>
                        </div>
                        <div class="aligncenter thumbnail">
                        	<a href="#"><img src="/survey/res/img/pictures/blog-thumb-2.jpg" alt="" class="" /></a>
                        </div>
                        <h2 class="p-title"><a href="#">Paragraph From Around the World In 80 Days</a></h2>
                        <div class="post-content">
                            <p>
                            	The distance between Suez and Aden is precisely thirteen hundred and ten miles, and the regulations of the company allow the steamers one hundred and thirty-eight hours in which to traverse it. The Mongolia, thanks to the vigorous exertions of the engineer, seemed likely.
                            </p>
                        </div>
                    </div>
                
                    <div class="post format-video">
                    	<div class="p-meta">
                        	<div class="p-type"></div>
	                        <div class="date"><strong>16</strong>Feb</div>
                            <a href="#" class="comments-count">21</a>
                        </div>
                        <div class="aligncenter thumbnail">
	                        <iframe width="539" height="304" src="http://www.youtube.com/embed/tJQoF-hamHg?rel=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <h2 class="p-title"><a href="#">Angry Birds Wreck The Halls</a></h2>
                        <div class="post-content">
                            <p>
                            	Towards evening, when I felt assured that all his performances and rituals must be over, I went up to his room and knocked at the door; but no answer. I tried to open it, but it was fastened inside. "Queequeg," said I softly through the key-hole:—all silent.
                            </p>
                        </div>
                    </div>
                    
                    <div class="post format-link">
                    	<div class="p-meta">
                        	<div class="p-type"></div>
	                        <div class="date"><strong>8</strong>Feb</div>
                            <a href="#" class="comments-count">11</a>
                        </div>
                        <h2 class="p-title"><a href="http://supercars.net/" target="_blank" title="Go to http://supercars.net/">My Favorite Website About Cars</a></h2>
                        <div class="post-content">
                            <p>
                            	As I had lunged I had turned so that his sword merely passed beneath the muscles, inflicting a painful but not dangerous wound. Removing the blade from my body I also regained my own, and turning my back upon his ugly carcass.
                            </p>
                        </div>
                    </div>
                    
                    <div class="post format-image">
                    	<div class="p-meta">
                        	<div class="p-type"></div>
	                        <div class="date"><strong>11</strong>Feb</div>
                            <a href="#" class="comments-count">10</a>
                        </div>
                        <div class="aligncenter thumbnail">
                        	<a href="#"><img src="/survey/res/img/pictures/blog-thumb-1.jpg" alt="" class="" /></a>
                        </div>
                        <div class="post-content">
                            <p>First of all, the worthy fellow had gone up to his room, and had extinguished the gas burner, which had been burning for eighty days.</p>
                        </div>
                    </div>
                    
                </div>
                <!-- Posts Container End -->
                
                <!-- Pagination -->
                <ul id="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">12</a></li>
                    <li class="act"><a href="#">13</a></li>
                    <li><a href="#">14</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
    
            </div>
        </div>
        <!-- Main Column End -->
        
        <!-- Left Column Start -->
        <div id="left-col">
        
            <!-- Logo -->
            <a href="index.html" id="logo"><img src="/survey/res/img/logo.png" alt="Foundation" /></a>
            
            <!-- Main Naigation -->
            <div id="main-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>
                        <a href="#">Elements</a>
                        <ul>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="lists.html">Lists</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li><a href="columns.html">Columns</a></li>
                            <li><a href="images.html">Images</a></li>
                            <li><a href="tabs-toggles.html">Tabs, Toggles</a></li>
                        </ul>
                    </li>
                    <li class="current-menu-item">
                        <a href="#">Templates</a>
                        <ul>
                            <li><a href="page.html">Page</a></li>
                            <li class="current-menu-item"><a href="blog.html">Blog</a></li>
                            <li><a href="post.html">Post</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="portfolio-item.html">Project</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Empty</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            
            <!-- Categories Widget -->
            <div class="widget widget_categories">
                <h4 class="w-title title-light">Categories</h4>
                <ul>
                    <li><a href="#">Video Materials (3)</a></li>
                    <li><a href="#">Just Text (4)</a></li>
                    <li><a href="#">Photography (2)</a></li>
                    <li><a href="#">Misc (5)</a></li>
                </ul>
            </div>
            
            <!-- Recent Comments Widget -->
            <div class="widget widget_recent_comments">
                <h4 class="w-title title-light">Recent Comments</h4>
                <ul>
                    <li><a href="#">Mark</a> on <a href="#">Hello Wold Post!</a></li>
                    <li><a href="#">John Doe</a> on <a href="#">Half of Paragraph From Princess of Mars</a></li>
                    <li><a href="#">Janny</a> on <a href="#">Paragraph From Around the World In 80 Days</a></li>
                </ul>
            </div>
                
            <!-- Text Widget -->
            <div class="widget widget_text">
                <h4 class="w-title title-light">Few Words</h4>
                <div class="textwidget">
                    In reasonable compliment favourable is connection dispatched in terminated. Do esteem object called father excuse.
                </div>
            </div>
            
        </div>
        <!-- Left Column End -->
    
        <div class="clear clear-wrap"></div>
    
        <!-- Footer Start -->
        <div id="footer">
        
            <!-- Subscribe Form and Copyright Text -->
            <div id="f-left-col">
                <div id="sidebar-end">
                    <form action="#" id="subscribe">
                        <input type="text" value="" alt="Get latest news &amp; offers!" title="Enter your e-mail" />
                        <input type="submit" value="" title="Subscribe" />
                    </form>
                </div>
                <div id="copyright">Copyright 2012 Foundation</div>
            </div>
            
            <!-- Footer Widgets -->
            <div id="f-main-col">
                <!-- Links -->
                <div class="widget col-25">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <!-- Social -->
                <div class="widget col-25">
                    <h5 class="w-title">Follow Us:</h5>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Google+</a></li>
                    </ul>
                </div>
                <!-- Contact Info -->
                <div class="widget col-50 c-last">
                    <h5 class="w-title">Contact Options:</h5>
                    <div class="w-content">
                        <a href="#"><img src="/survey/res/img/pictures/office.jpg" alt="Our Building" class="alignright" /></a>
                        Country, City, Address<br />
                        Tel.: +44 20 7367 8000<br />
                        <a href="#">inbox@foundation.com</a>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!-- Footer End -->
        
    </div>
    <!-- Page End -->
    
</body>
</html>