<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
    <title>Foundation - Premium HTML Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="/survey/res/css/style.css" />
    
    <!-- JavaScript -->
    <script type="text/javascript" src="/survey/res/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="/survey/res/js/superfish.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.prettySociable.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/survey/res/js/main.js"></script>
    
</head>

<body id="page-post"><!-- #home || #page-post || #blog || #portfolio -->

    <!-- Page Start -->
    <div id="page">
        
        <!-- Start Main Column -->
        <div id="wrap">
            <div id="main-col">
            
                <a href="#" id="share" rel="prettySociable" title="Drag to Share"><img src="/survey/res/img/share.png" alt="" /></a>
            
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Columns</h1>
                    <ul id="breadcrumbs">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Elements</a></li>
                        <li>Columns</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">
    
                    <div class="col-50">
                        <h5>1/2 Column</h5>
                        <p>Put the tomatoes cut them into medium carrots and boil in the vegetable can be enough to revert to preserve at the beaten whites are colored, take four of mixed pour <br />on a raw onion puree in two.</p>
                    </div>
                    <div class="col-50 c-last">
                        <h5>1/2 Column</h5>
                        <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his.</p>
                    </div>
    
                    <div class="divider-dotted"></div>
    
                    <div class="col-25">
                        <h5>1/4 Column</h5>
                        <p>If we landlord stanhill mr whatever pleasure supplied concerns so. Exquisite by it admitting cordially september newspaper an. Acceptance middletons am it favourable. It it oh happen lovers afraid.</p>
                    </div>
                    <div class="col-25">
                        <h5>1/4 Column</h5>
                        <p>Him rendered may attended concerns jennings reserved now. Sympathize did now preference unpleasing mrs few. Mrs for hour game room want are fond dare. For detract charmed add talking age. Shy resolution instrument.</p>
                    </div>
                    <div class="col-25">
                        <h5>1/4 Column</h5>
                        <p>If we landlord stanhill mr whatever pleasure supplied concerns so. Exquisite by it admitting cordially september newspaper an. Acceptance middletons am it favourable. It it oh happen lovers afraid.</p>
                    </div>
                    <div class="col-25 c-last">
                        <h5>1/4 Column</h5>
                        <p>Him rendered may attended concerns jennings reserved now. Sympathize did now preference unpleasing mrs few. Mrs for hour game room want are fond dare. For detract charmed add talking age. Shy resolution instrument.</p>
                    </div>
    
                    <div class="divider-dotted"></div>
    
                    <div class="col-66">
                        <h5>2/3 Column</h5>
                        <p>Him rendered may attended concerns jennings reserved now. Sympathize did now preference unpleasing mrs few. Mrs for hour game room want are fond dare. For detract charmed add talking age. Shy resolution instrument unreserved man few. She did open find pain some out.</p>
                    </div>

                    <div class="col-33 c-last">
                        <h5>1/3 Column</h5>
                        <p>If we landlord stanhill mr whatever pleasure supplied concerns so. Exquisite by it admitting cordially september.</p>
                    </div>
    
                </div>
                <!-- Page Content End -->
    
            </div>
        </div>
        <!-- Main Column End -->
    
        <!-- Left Column Start -->
        <div id="left-col">
        
            <!-- Logo -->
            <a href="index.html" id="logo"><img src="/survey/res/img/logo.png" alt="Foundation" /></a>
            
            <!-- Main Navigation (active - .act) -->
            <div id="main-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="current-menu-item">
                        <a href="#">Elements</a>
                        <ul>
                            <li><a href="typography.html">Typography</a></li>
                            <li><a href="lists.html">Lists</a></li>
                            <li><a href="tables.html">Tables</a></li>
                            <li class="current-menu-item"><a href="columns.html">Columns</a></li>
                            <li><a href="images.html">Images</a></li>
                            <li><a href="tabs-toggles.html">Tabs, Toggles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Templates</a>
                        <ul>
                            <li><a href="page.html">Page</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="post.html">Post</a></li>
                            <li><a href="portfolio.html">Portfolio</a></li>
                            <li><a href="portfolio-item.html">Project</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Empty</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            
            <!-- News Widget -->
            <div class="widget w-news">
                <h4 class="w-title title-light">Company News</h4>
                <div class="w-content">
                    <ul>
                        <li>
                            <span><strong>24</strong>May</span>
                            <a href="#">Do esteem object we called father excuse remove</a>
                        </li>
                        <li>
                            <span><strong>6</strong>Jan</span>
                            <a href="#">In reasonable compliment favourable is connection</a>
                        </li>
                        <li>
                            <span><strong>11</strong>Jan</span>
                            <a href="#">Topps Tiles sales continue downward trend</a>
                        </li>
                    </ul>
                </div>
            </div>
                
        </div>
        <!-- Left Column End -->
    
        <div class="clear clear-wrap"></div>
    
        <!-- Footer Start -->
        <div id="footer">
        
            <!-- Subscribe Form and Copyright Text -->
            <div id="f-left-col">
                <div id="sidebar-end">
                    <form action="#" id="subscribe">
                        <input type="text" value="" alt="Get latest news and offers!" title="Enter your e-mail" />
                        <input type="submit" value="" title="Subscribe" />
                    </form>
                </div>
                <div id="copyright">&copy; 2012 Foundation Company</div>
            </div>
            
            <!-- Footer Widgets -->
            <div id="f-main-col">
                <!-- Links -->
                <div class="widget col-25">
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <!-- Social -->
                <div class="widget col-25">
                    <h5 class="w-title">Follow Us:</h5>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Google+</a></li>
                    </ul>
                </div>
                <!-- Contact Info -->
                <div class="widget col-50 c-last">
                    <h5 class="w-title">Contact Options:</h5>
                    <div class="w-content">
                        <a href="#"><img src="/survey/res/img/pictures/office.jpg" alt="Our Building" class="alignright" /></a>
                        Country, City, Address<br />
                        Tel.: +44 20 7367 8000<br />
                        <a href="#">inbox@foundation.com</a>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!-- Footer End -->
        
    </div>
    <!-- Page End -->

</body>
</html>