@mvc::view('shared/header.cshtml')
                
                <!-- Nivo Slider -->
                <div id="slider-container">
                    <div id="big-slider"><!-- Add Slides Here -->
                        <a href="#"><img src="/survey/res/img/pictures/slide-1.jpg" alt="" title="8 different colors and 16 colors combinations" /></a>
                        <a href="#"><img src="/survey/res/img/pictures/slide-2.jpg" alt="" title="Create your own color schemes easy with CSS" /></a>
                        <a href="#"><img src="/survey/res/img/pictures/slide-3.jpg" alt="" title="Custom Fonts with Google Fonts" /></a>
                    </div>
                </div>
                
                <!-- Homepage Welcome Text -->
                <div id="homepage-post">
                <h1 class="p-title"><a href="#">Welcome to Foundation Company</a></h1>
                    <div class="p-content">
                        <p>Often and often, though this narrative must not be clogged by the details, was Granser's tale interrupted while the boys squabbled.</p>
                    </div>
                </div>
                
                <!-- Homepage Teasers Start -->
                <div id="homepage-teasers">
                	<div id="ht-inner">
                    
                        <div class="widget col-25">
                            <h4 class="w-title">Corporate Style</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-1.png" alt="" />
                                Discovery sweetness principle discourse shameless bed one.
                            </div>
                        </div>
                        
                        <div class="widget col-25">
                            <h4 class="w-title">Customizable</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-2.png" alt="" />
                                Jennings outlived <br />no dwelling denoting peculiar believed.
                            </div>
                        </div>
        
                        <div class="widget col-25">
                            <h4 class="w-title">Great Support</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-3.png" alt="" />
                                Discovery sweetness principle discourse shameless bed one.
                            </div>
                        </div>
                        
                        <div class="widget col-25">
                            <h4 class="w-title">Multi Colors</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-4.png" alt="" />
                                Jennings outlived <br />no dwelling denoting peculiar believed.
                            </div>
                        </div>
                    
                    </div>
                </div>
    
                <div class="widget col-50">
                	<h3 class="w-title">Helpful Information</h3>
                    <div class="w-content">
	                    <p>Needed its design number winter see. Oh be me sure wise sons no. Piqued ye of am spirit regret:</p>
                        <div class="post-item">
                            <a href="#"><img src="/survey/res/img/pictures/hp-1.jpg" alt="" class="alignleft" /></a>
                            <h6 class="p-title"><a href="#">Walk Through The Pages</a></h6>
                            <p>Jennings outlived no dwelling denoting peculiar believed.</p>
                        </div>
                        <div class="post-item">
                            <a href="#"><img src="/survey/res/img/pictures/hp-2.jpg" alt="" class="alignleft" /></a>
                            <h6 class="p-title"><a href="#">Create a Website Easily</a></h6>
                            <p>Discovery sweetness principle discourse shameless bed one.</p>
                        </div>
                    </div>
                </div>
                
                <div class="widget col-50 c-last">
                    <h3 class="w-title">Featured Solutions</h3>
                    <div class="w-content">
                    	<p>Removing the blade from my body I also regained <br />my own, and turning back upon his ugly carcass:</p>
                        <ul class="arrow">
                            <li><a href="#">Improved with jQuery</a></li>
                            <li><a href="#">Custom fonts (Google fonts)</a></li>
                            <li><a href="#">PHP contact form with validation</a></li>
                            <li><a href="#">Responsive Support</a></li>
                        </ul>
                        <a href="#" class="more">Full List</a>
                    </div>
                </div>
                                
                <!-- Homepage Teasers End -->
    
@mvc::view('shared/footer.cshtml')