@{
	use Scabbia\views;
	use Scabbia\mvc;
	use Scabbia\time;
}
@views::view('shared/header.cshtml')

                <!-- Breadcrumbs, Title, Description -->
                <div id="page-head">
                    <h1><em>interesting news and events</em>Blog</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('blog/index')">Blog</a></li>
						<li>@$post['title']</li>
                    </ul>
                </div>
                
                <!-- Posts Container Start -->
                <div id="cat-container">

					@{
						$tTimestamp = time::convert($post['createdate'], 'Y-m-d H:i:s');
					}
                    <div class="post format-standard">
                    	<div class="p-meta">
                        	<div class="p-type"></div>
	                        <div class="date"><strong>@date('d', $tTimestamp)</strong>@statics::$months[date('m', $tTimestamp)]</div>
                        </div>
                        <h2 class="p-title"><a href="@mvc::url('blog/post/' . $post['postid'])">@$post['title']</a></h2>
                        <div class="post-content">
                            <p>
                            	@$post['content']
                            </p>
                        </div>
                    </div>

                </div>
                <!-- Posts Container End -->

@views::view('shared/footer.cshtml')