</div>
        </div>
        <!-- Main Column End -->
        
        <!-- Left Column Start -->
        <div id="left-col">
        
            <!-- Logo -->
            <a href="@mvc::url('home/index')" id="logo"><img src="/survey/res/img/logo.png" width="280" height="185" alt="survey-e-bot" /></a>
            
            <!-- Main Naigation (active - .act) -->
            <div id="main-nav">
                <ul>
                    <li class="current-menu-item"><a href="@mvc::url('home/index')">Home</a></li>
                    <li><a href="@mvc::url('home/blog')">Blog</a></li>
                    <li><a href="@mvc::url('home/about')">About Us</a></li>
					<li><a href="@mvc::url('home/contact')">Contact</a></li>
                </ul>
            </div>

			<!-- Login Widget -->
            <div class="widget w-login">
                <h4 class="w-title title-light">Login</h4>
                <div class="w-content">
					<form method="post" action="@mvc::url('user/login')">
						E-Mail: <input type="text" name="email" value="" /><br />
						Password: <input type="text" name="password" value="" /><br />
						<input type="submit" value="Send" />
					</form>
				</div>
			</div>

			<!-- News Widget -->
            <div class="widget w-news">
                <h4 class="w-title title-light">Latest News</h4>
                <div class="w-content">
                    <ul>
                        <li>
                            <span><strong>24</strong>Apr</span>
                            <a href="#">Do esteem object we called father excuse remove</a>
                        </li>
                        <li>
                            <span><strong>6</strong>Mar</span>
                            <a href="#">In reasonable compliment favourable is connection</a>
                        </li>
                        <li>
                            <span><strong>11</strong>Feb</span>
                            <a href="#">Topps Tiles sales continue downward trend</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="widget widget_categories">
                <h4 class="w-title title-light">Categories</h4>
                <ul>
                    <li><a href="#">Video Materials (3)</a></li>
                    <li><a href="#">Just Text (4)</a></li>
                    <li><a href="#">Photography (2)</a></li>
                    <li><a href="#">Misc (5)</a></li>
                </ul>
            </div>
            
            <!-- Recent Comments Widget -->
            <div class="widget widget_recent_comments">
                <h4 class="w-title title-light">Recent Comments</h4>
                <ul>
                    <li><a href="#">Mark</a> on <a href="#">Hello Wold Post!</a></li>
                    <li><a href="#">John Doe</a> on <a href="#">Half of Paragraph From Princess of Mars</a></li>
                    <li><a href="#">Janny</a> on <a href="#">Paragraph From Around the World In 80 Days</a></li>
                </ul>
            </div>
                
            <!-- Text Widget -->
            <div class="widget widget_text">
                <h4 class="w-title title-light">Few Words</h4>
                <div class="textwidget">
                    In reasonable compliment favourable is connection dispatched in terminated. Do esteem object called father excuse.
                </div>
            </div>

        </div>
        <!-- Left Column End -->
    
        <div class="clear clear-wrap"></div>
    
        <!-- Footer Start -->
        <div id="footer">
        
            <!-- Subscribe Form and Copyright Text -->
            <div id="f-left-col">
                <div id="sidebar-end">
                    <form action="#" id="subscribe">
                        <input type="text" value="" alt="Get latest news and offers!" title="Enter your e-mail" />
                        <input type="submit" value="" title="Subscribe" />
                    </form>
                </div>
            </div>
            
            <!-- Footer Widgets -->
            <div id="f-main-col">
                <!-- Links -->
                <div class="widget col-25">
                    <ul>
                        <li><a href="@mvc::url('home/home')">Home</a></li>
                        <li><a href="@mvc::url('home/about')">About Us</a></li>
                        <li><a href="@mvc::url('home/contact')">Contact</a></li>
                    </ul>
                </div>
                <!-- Social -->
                <div class="widget col-25">
                    <h5 class="w-title">Follow Us:</h5>
                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ul>
                </div>
                <!-- Contact Info -->
                <div class="widget col-50 c-last">
                    <h5 class="w-title">Contact Options:</h5>
                    <div class="w-content">
                        <a href="#"><img src="/survey/res/img/pictures/office.jpg" alt="Our Building" class="alignright" /></a>
                        Country, City, Address<br />
                        <a href="mailto:inbox@@surveyebot.com">inbox@@surveyebot.com</a>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!-- Footer End -->
        
    </div>
    <!-- Page End -->

    <script type="text/javascript">
        $l.contentEnd();
    </script>

</body>
</html>