@{
    use App\Includes\Statics;
	use Scabbia\Extensions\Http\Http;
    use Scabbia\Extensions\Views\Views;
    use Scabbia\Request;
}
</div>
        </div>
        <!-- Main Column End -->
        
        <!-- Left Column Start -->
        <div id="left-col">
        
@Views::viewFile('{app}views/shared/leftnav.cshtml')

        </div>
        <!-- Left Column End -->
    
        <div class="clear clear-wrap"></div>
    
        <!-- Footer Start -->
        <div id="footer">
        
            <!-- Subscribe Form and Copyright Text -->
			<!--
            <div id="f-left-col">
                <div id="sidebar-end">
                    <form action="#" id="subscribe">
                        <input type="text" value="" alt="Get informed of latest surveys!" title="Enter your e-mail" />
                        <input type="submit" value="" title="Subscribe" />
                    </form>
                </div>
            </div>
			-->
            
            <!-- Footer Widgets -->
            <div id="f-main-col">
                <!-- Links -->
                <div class="widget col-25">
                    <ul>
                        <li><a href="@Http::url('home/home')">Home</a></li>
                        <li><a href="@Http::url('home/about')">About Us</a></li>
                        <li><a href="@Http::url('home/contact')">Contact</a></li>
                    </ul>
                </div>
                <!-- Social -->
                <div class="widget col-25">
                    <h5 class="w-title">Follow Us:</h5>
                    <ul>
                        <li><a href="https://twitter.com/surveyebot">Twitter</a></li>
                        <li><a href="https://facebook.com/surveyebot">Facebook</a></li>
                    </ul>
                </div>
                <!-- Contact Info -->
                <div class="widget col-50 c-last">
                    <h5 class="w-title">Contact Details:</h5>
                    <div class="w-content">
                        <a href="#"><img src="/survey/assets/img/pictures/office.jpg" alt="Our Building" class="alignright" /></a>
                        TRNC, Famagusta, EMU<br />
                        <a href="mailto:inbox@@surveyebot.com">inbox@@surveyebot.com</a>
                    </div>
                </div>
            </div>
            
            <div class="clear"></div>
        </div>
        <!-- Footer End -->
        
    </div>
    <!-- Page End -->

    <script type="text/javascript">
        $l.contentEnd();
    </script>

</body>
</html>