@html::doctype('html5')
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US">
<head>
	<title>survey-e-bot</title>
	<meta charset="utf-8" />

	<link rel="shortcut icon" href="@$root/favicon.ico" type="image/x-icon" />

	<link type="text/css" href="@http::url('scabbia.css?core,jqueryui,jqueryuifx,shadowbox,tipsy')" rel="stylesheet" media="all" />
	<link rel="stylesheet" type="text/css" href="/survey/res/css/style.css" />

	<script type="text/javascript" src="@http::url('scabbia.js?core,jquery,jqueryui,jqueryuifx,shadowbox,tipsy')"></script>
	<script type="text/javascript" src="/survey/res/js/superfish.js"></script>
	<script type="text/javascript" src="/survey/res/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/survey/res/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/survey/res/js/main.js"></script>
</head>
<body id="@{
		if(mvc::$route['controller'] == 'home' && mvc::$route['action'] == 'blog') {
			echo 'blog';
		}
		else {
			echo 'home';
		}
	}"><!-- #home || #page-post || #blog || #portfolio -->
	<div id="fb-root"></div>
	<script type="text/javascript">
			$l.contentBegin('main', '@framework::$siteroot');
	</script>

    <!-- Page Start -->
    <div id="page">
        
        <!-- Main Column Start -->
        <div id="wrap">
            <div id="main-col">
            
                <a href="#" id="share" rel="prettySociable" title="Drag to Share"><img src="/survey/res/img/share.png" alt="" /></a>
