            <!-- Logo -->
            <a href="@mvc::url('home/index')" id="logo"><img src="/survey/res/img/logo.png" width="280" height="185" alt="survey-e-bot" /></a>

            <!-- Main Naigation (active - .act) -->
            <div id="main-nav">
				@{ $activePage = mvc::$route['controller'] . '/' . mvc::$route['action']; }
				@if(is_null(statics::$user)) {
                <ul>
                    <li@{ if($activePage == 'home/index') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('home/index')">Home</a></li>
                    <li@{ if($activePage == 'blog/index') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('blog/index')">Blog</a></li>
					<li@{ if($activePage == 'home/faq') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('home/faq')">FAQ</a></li>
                    <li@{ if($activePage == 'home/about') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('home/about')">About Us</a></li>
					<li@{ if($activePage == 'home/contact') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('home/contact')">Contact</a></li>
                </ul>
				} else {
                <ul>
                    <li@{ if($activePage == 'home/index') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('home/index')">Home</a></li>
						<li@{ if($activePage == 'blog/index') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('blog/index')">Blog</a></li>
						<li@{ if($activePage == 'home/faq') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('home/faq')">FAQ</a></li>
						<li@{ if($activePage == 'home/about') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('home/about')">About Us</a></li>
						<li@{ if($activePage == 'home/contact') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('home/contact')">Contact</a></li>
					<li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li@{ if($activePage == 'surveys/new') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('surveys/new')">Create New Survey</a></li>
						<li@{ if($activePage == 'surveys/index') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('surveys/index')">Existing Surveys</a></li>
						<li@{ if($activePage == 'questions/index') { echo ' class="current-menu-item"'; } }><a class="paddingLeft50px" href="@mvc::url('questions/index')">Question Pool</a></li>
					<li@{ if($activePage == 'user/profile') { echo ' class="current-menu-item"'; } }><a href="@mvc::url('user/profile')">Profile</a></li>
                </ul>
				}
            </div>

			<div class="clear"></div>
			<div class="marginBottom30px"></div>

		@if(session::existsFlash('loginNotification')) {
			@{ $loginNotification = session::getFlash('loginNotification'); }
			<div class="msg@$loginNotification[0]">
			   <p>@$loginNotification[1]</p>
			</div>
		}

		@if(is_null(statics::$user)) {
			<!-- Login Widget -->
            <div class="widget w-login">
                <h4 class="w-title title-light">Login</h4>
                <div class="w-content">
					<form class="validation" id="loginform" method="post" action="@mvc::url('user/login')">
						<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><input type="text" name="email" value="" data-defaulttext="E-mail" /></td>
								<td><input class="inlineBlock classiclogin" type="submit" value="Send" tabindex="-1" /></td>
							</tr>
							<tr>
								<td><input type="password" name="password" value="" data-defaulttext="Password" /></td>
								<td></td>
							</tr>
							<tr><td colspan="2" class="alignCenter">
								<a href="@mvc::url('user/register')">Register</a> ·
								<a href="@mvc::url('user/forgottenpassword')">Forgotten Password</a>
							</td></tr>
						</table>
						<input id="fblogin" class="marginTop10px" type="button" />
					</form>
				</div>
			</div>
		} else {
			<!-- Login Widget -->
            <div class="widget w-login">
                <h4 class="w-title title-light">Login</h4>
                <div class="w-content">
					<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
						<tr><td>Name:</td><td><input type="text" value="@statics::$user['displayname']" disabled="disabled" /></td></tr>
						<tr><td>E-Mail:</td><td><input type="text" value="@statics::$user['email']" disabled="disabled" /></td></tr>
						<tr><td colspan="2" class="alignRight">
							<input id="userlogout" class="inlineBlock" type="button" value="Logout" />
						</td></tr>
					</table>
				</div>
			</div>
		}

			<!-- News Widget -->
@{
			$tPostModel = mvc::load('postModel');
			$tPosts = $tPostModel->getAllPaged(0, 3);
}
            <div class="widget w-news">
                <h4 class="w-title title-light">Latest News</h4>
                <div class="w-content">
                    <ul>
						@foreach($tPosts as &$tPost) {
						@{
							$tTimestamp = time::convert($tPost['createdate'], 'Y-m-d H:i:s');
						}
                        <li>
                            <span><strong>@date('d', $tTimestamp)</strong>@statics::$months[date('m', $tTimestamp)]</span>
                            <a href="@mvc::url('blog/post/' . $tPost['postid'])">@$tPost['title']</a>: @string::cut(strip_tags($tPost['content']), 20)
                        </li>
                        }
                    </ul>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="widget widget_categories">
                <h4 class="w-title title-light">Categories</h4>
                <ul>
					@foreach(statics::$categoriesWithCounts as &$category) {
						<li><a href="@mvc::url('categories/list/' . $category['categoryid'])">@$category['name'] (@$category['count'])</a></li>
					}
                </ul>
            </div>

            <!-- Recent Comments Widget -->
            <div class="widget widget_recent_comments">
                <h4 class="w-title title-light">Recent Surveys</h4>
                <ul>
					@foreach(statics::$recentSurveys as &$survey) {
						@{
							if(!is_null(statics::$user) || $survey['type'] == statics::SURVEY_PUBLIC) {
								$url = @mvc::url('surveys/take/' . $survey['surveypublishid']);
							}
							else {
								$url = 'javascript:notifyLogin();';
							}

							$tProps = array();
							if(strlen($survey['password']) > 0) {
								$tProps[] = 'password';
							}
							if($survey['type'] == statics::SURVEY_PUBLIC) {
								$tProps[] = 'public';
							}
						}
						<li><a href="@$url">@$survey['title']</a>
						@if(count($tProps) > 0) {
							<em>(@implode($tProps, ', '))</em>
						}
						</li>
					}
                </ul>
            </div>

            <!-- Text Widget -->
            <div class="widget widget_text">
                <h4 class="w-title title-light">Few Words</h4>
                <div class="textwidget">
                    We would like to thank our project supervisor Mrs. Alev Elci for providing us with materials that helped us in carrying out the project.
                </div>
            </div>