@views::view('shared/header.cshtml')

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
					<h1><em>who are we?</em>About Us</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">
                
                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use <span class="h-light1">totally written</span> the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>
                    
                    <h3>Our Team</h3>

                    <p>At as in understood an remarkably solicitude. Mean them <span class="h-light2">very seen</span> she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>


                    <h3>Our Location</h3>

                    <!-- Start Accordion With Maps and Addresses -->
                    <div class="accordion">

                        <div class="accordionTitle">Eastern Mediterranean University, TRNC</div>
                        <div class="accordionContent">
    
                            <div class="alignright">
                                <iframe width="260" height="160" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=minsk+belarus&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=54.357317,135.263672&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Minsk,+Minski+rajon,+Minsk+Province,+Belarus&amp;t=m&amp;ll=53.899888,27.566757&amp;spn=0.064731,0.177841&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
                            </div>
                            <p>Mean them very seen she she. Use totally written the observe pressed justice.</p>
                            <ul>
                                <li>TRNC, Famagusta, EMU</li>
                                <li><a href="mailto:inbox@@surveyebot.com">inbox@@surveyebot.com</a></li>
                            </ul>
    
                        </div>

						</div>
                    <!-- Accordion With Maps and Addresses End -->

                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')