@{
    use App\Includes\Statics;
	use Scabbia\Extensions\Views\Views;
	use Scabbia\Extensions\Session\Session;
	use Scabbia\Extensions\Http\Http;
    use Scabbia\Request;
}
@Views::viewFile('{app}views/shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>keep in touch</em>Contact</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@Http::url('home/index')">Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
                
				@if(Session::exists('notification')) {
					@{ $notification = Session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

                <!-- Page Content Start -->
                <div class="full-page-text">
                
                    <!-- Contact Form -->
                    <h3>Contact Form</h3>
                    <form class="validation" id="contact" class="validation" action="@Http::url('home/contact')" method="post">
                        <table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="width200px"><label id="name_label" for="name">Name</label></td>
								<td><span id="name">@Statics::$user['displayname']</span></td>
							</tr>
							<tr>
								<td><label id="email_label" for="email">E-mail</label></td>
								<td><span id="email">@Statics::$user['email']</span></td>
							</tr>
							<tr>
								<td><label id="subject_label" for="subject">Subject *</label></td>
								<td><input type="text" size="50" value="@Request::post('subject', '')" id="subject" name="subject" class="required" /></td>
							</tr>
							<tr>
								<td class="valignTop"><label id="msg_label" for="msg">Message *</label></td>
								<td><textarea id="msg" name="msg" rows="10" cols="10" class="required">@Request::post('msg', '')</textarea></td>
							</tr>
							<tr>
                            	<td colspan="2" class="alignRight">
									<input type="submit" value="Send" id="submit_btn" name="submit" />
								</td>
							</tr>
						</table>
                    </form>
    
                </div>
                <!-- Page Content End -->
    
@Views::viewFile('{app}views/shared/footer.cshtml')