@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>keep in touch</em>Contact</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
                
				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

                <!-- Page Content Start -->
                <div class="full-page-text">
                
                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>
                    
                    <!-- Contact Form -->
                    <h3>Contact Form</h3>
                    <form class="validation" id="contact" class="validation" action="@mvc::url('home/contact')" method="post">
						<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="width200px"><label id="name_label" for="name">Name *</label></td>
								<td><input type="text" value="@http::post('name', '')" size="50" id="name" name="name" class="required" /></td>
							</tr>
							<tr>
								<td><label id="email_label" for="email">E-mail *</label></td>
								<td><input type="text" value="@http::post('email', '')" size="50" id="email" name="email" class="required email" /></td>
							</tr>
							<tr>
								<td><label id="subject_label" for="subject">Subject</label></td>
								<td><input type="text" size="50" value="@http::post('subject', '')" id="subject" name="subject" class="required" /></td>
							</tr>
							<tr>
								<td class="valignTop"><label id="msg_label" for="msg">Message *</label></td>
								<td><textarea id="msg" name="msg" rows="10" cols="10" class="required">@http::post('msg', '')</textarea></td>
							</tr>
							<tr>
								<td><label id="verification_label" for="verification">Captcha *</label></td>
								<td>
									<img src="@mvc::url('home/contactImage')" alt="" /><br />
									<input type="text" size="50" id="verification" name="verification" class="required" value="" />
								</td>
							</tr>
							<tr>
                            	<td colspan="2" class="alignRight">
									<input type="submit" value="Send" id="submit_btn" name="submit" />
								</td>
							</tr>
						</table>
                    </form>
    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')