@views::view('shared/header.cshtml')

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
					<h1><em>frequently asked questions</em>FAQ</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Frequently Asked Questions</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">
                
                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use <span class="h-light1">totally written</span> the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>
                    
					@foreach($faq as $tKey => &$tContents) {
						<h3>@$tKey</h3>

						<div class="accordion">
							@foreach($tContents as &$tRow) {
								<div class="accordionTitle">@$tRow['title']</div>
								<div class="accordionContent">
									<p>@$tRow['content']</p>
								</div>
							}
						</div>
                    }

                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')