@{
	use Scabbia\views;
	use Scabbia\mvc;
}
@views::view('shared/header.cshtml')

				<div class="mainwrap">
					<!-- Nivo Slider -->
					<div id="slider-container">
						<div id="big-slider"><!-- Add Slides Here -->
							<a href="#"><img src="/survey/res/img/slider01.png" alt="" title="Welcome to survey-e-bot" /></a>
							<a href="#"><img src="/survey/res/img/slider02.png" alt="" title="Publish your own surveys" /></a>
							<a href="#"><img src="/survey/res/img/slider04.png" alt="" title="Share your surveys on Facebook" /></a>
							<a href="#"><img src="/survey/res/img/slider03.png" alt="" title="Analyse the survey results" /></a>
						</div>
					</div>

					<!-- Homepage Welcome Text -->
					<div id="homepage-post">
						<div>
							<h1 class="p-title">Welcome to survey-e-bot</h1>
							<div class="p-content">
								<p>It is designed to be easy to use for all experience levels so you will quickly be building online surveys and questionnaires.</p>
							</div>
						</div>
					</div>
					
					<!-- Homepage Teasers Start -->
					<div class="widget col-50">
						<h3 class="w-title">Online Surveys</h3>
						<div class="w-content">
							<p>Build your own surveys in two steps:</p>
							<div class="post-item">
								<a href="#"><img src="/survey/res/img/pictures/hp-1.jpg" alt="" class="alignleft" /></a>
								<h6 class="p-title"><a href="#">Pick and Add Questions</a></h6>
								<p>Begin typing your question and pick it from dropdown menu or add a new one.</p>
							</div>
							<div class="post-item">
								<a href="#"><img src="/survey/res/img/pictures/hp-2.jpg" alt="" class="alignleft" /></a>
								<h6 class="p-title"><a href="#">Publish Survey</a></h6>
								<p>Bring questions together to build and publish as a new survey.</p>
							</div>
						</div>
					</div>
					
					<div class="widget col-50 c-last">
						<h3 class="w-title">Featured Analysis</h3>
						<div class="w-content">
							<p>Survey-e-bot allows you to compile custom analytical reports including:</p>
							<ul class="arrow">
								<li><a href="#">Survey Results</a></li>
								<li><a href="#">Comparision Between Surveys</a></li>
								<li><a href="#">Export Data</a></li>
							</ul>
							<a href="@mvc::url('home/about')" class="more">Full List</a>
						</div>
					</div>

					<div class="clear"></div>

					<div class="col-66">
						<h5>Our System</h5>
						<p>We provide online survey, research, update, web based survey, multiple choise tests and exam results.Also with the prepared surveys and mailing system, you can start your surveys and get results in the same day.</p>
					</div>

					<div class="col-33 c-last">
						<h5>Technical Support</h5>
						<p>We would be happy to answer your survey requests with our unique features.</p>
					</div>

					<!-- Homepage Teasers End -->
				</div>

				<div id="homepage-teasers" class="rightwrap">

					<div>
						<h4 class="w-title">Multiple Choice</h4>
						<div class="w-content pic1">
							Discover an easy way to create survey questions,for easy response. Multiple choice types of questions are allowed for each survey you created on survey-e-bot.
						</div>
					</div>
					
					<div>
						<h4 class="w-title">Evaluations</h4>
						<div class="w-content pic2">
							Evaluation types of questions even makes survey questions design easier on survey-e-bot with readily configured options.
						</div>
					</div>
	
					<div>
						<h4 class="w-title">Custom Design</h4>
						<div class="w-content pic3">
							Enter your corporate logo and company name, even write your specific start and end messages.
						</div>
					</div>
					
					<div>
						<h4 class="w-title">Privacy</h4>
						<div class="w-content pic4">
							It is possible to people that you have chosen can also join your survey.
						</div>
					</div>

				</div>

				<div class="clear">
				</div>
				
@views::view('shared/footer.cshtml')