@views::view('shared/header.cshtml')

                <!-- Homepage Welcome Text -->
                <div id="homepage-post">
                <h1 class="p-title">Welcome to survey-e-bot</h1>
                    <div class="p-content">
                        <p>It is designed to be easy to use for all experience levels so you will quickly be creating online surveys and questionnaires.</p>
                    </div>
                </div>
                
                <!-- Homepage Teasers Start -->
                <div id="homepage-teasers">
                	<div id="ht-inner">
                    
                        <div class="widget col-25">
                            <h4 class="w-title">Multiple Choices</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-1.png" alt="" />
                                Discovery sweetness principle discourse shameless bed one.
                            </div>
                        </div>
                        
                        <div class="widget col-25">
                            <h4 class="w-title">Evaluations</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-2.png" alt="" />
                                Jennings outlived <br />no dwelling denoting peculiar believed.
                            </div>
                        </div>
        
                        <div class="widget col-25">
                            <h4 class="w-title">Questionnaries</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-3.png" alt="" />
                                Discovery sweetness principle discourse shameless bed one.
                            </div>
                        </div>
                        
                        <div class="widget col-25">
                            <h4 class="w-title">Others</h4>
                            <div class="w-content">
                                <img src="/survey/res/img/colors/secondary-green/icon-4.png" alt="" />
                                Jennings outlived <br />no dwelling denoting peculiar believed.
                            </div>
                        </div>
                    
                    </div>
                </div>
    
                <div class="widget col-50">
                	<h3 class="w-title">Helpful Information</h3>
                    <div class="w-content">
	                    <p>Needed its design number winter see. Oh be me sure wise sons no. Piqued ye of am spirit regret:</p>
                        <div class="post-item">
                            <a href="#"><img src="/survey/res/img/pictures/hp-1.jpg" alt="" class="alignleft" /></a>
                            <h6 class="p-title"><a href="#">Walk Through The Pages</a></h6>
                            <p>Jennings outlived no dwelling denoting peculiar believed.</p>
                        </div>
                        <div class="post-item">
                            <a href="#"><img src="/survey/res/img/pictures/hp-2.jpg" alt="" class="alignleft" /></a>
                            <h6 class="p-title"><a href="#">Create a Website Easily</a></h6>
                            <p>Discovery sweetness principle discourse shameless bed one.</p>
                        </div>
                    </div>
                </div>
                
                <div class="widget col-50 c-last">
                    <h3 class="w-title">Featured Solutions</h3>
                    <div class="w-content">
                    	<p>Removing the blade from my body I also regained <br />my own, and turning back upon his ugly carcass:</p>
                        <ul class="arrow">
                            <li><a href="#">Improved with jQuery</a></li>
                            <li><a href="#">Custom fonts (Google fonts)</a></li>
                            <li><a href="#">PHP contact form with validation</a></li>
                            <li><a href="#">Responsive Support</a></li>
                        </ul>
                        <a href="#" class="more">Full List</a>
                    </div>
                </div>
                                
                <!-- Homepage Teasers End -->
				
@views::view('shared/footer.cshtml')