@{
    use App\Includes\Statics;
	use Scabbia\Extensions\Views\Views;
}
@Views::viewFile('{app}views/shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Edit Survey</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@Http::url('home/index')">Home</a></li>
                        <li><a href="@Http::url('surveys/index')">Surveys</a></li>
                        <li>@$survey['title']</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>You can add new survey to system by using this page easly.</p>
                    
                    <h3>Edit Survey</h3>
                    <form class="validation" id="editSurvey" action="@Http::url('surveys/edit/' . $survey['surveyid'])" method="post">
						<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="width200px"><label id="title_label" for="title">Title *</label></td>
								<td><input type="text" size="50" id="title" name="title" class="required" value="@$survey['title']" data-defaulttext="Type your survey title here" /></td>
							</tr>
							<tr>
								<td class="valignTop"><label id="description_label" for="description">Description *</label></td>
								<td><textarea id="description" name="description" class="required" rows="10" cols="10">@$survey['description']</textarea></td>
							</tr>
							<tr>
								<td><label id="category_label" for="category">Category *</label></td>
								<td><select name="categoryid">@Statics::selectboxCategories($survey['categoryid'])</select></td>
							</tr>
							<tr>
								<td><label id="language_label" for="language">Language *</label></td>
								<td><select name="languageid">@Statics::selectboxLanguages($survey['languageid'])</select></td>
							</tr>
							<tr>
								<td><label id="theme_label" for="theme">Theme *</label></td>
								<td><select name="themeid">@Statics::selectboxThemes($survey['themeid'])</select></td>
							</tr>
							<tr>
                            	<td colspan="2" class="alignRight">
									<input type="submit" value="Update Survey" id="submit_btn" name="submit" />
								</td>
							</tr>
						</table>
                    </form>
                    
                </div>
                <!-- Page Content End -->
    
@Views::viewFile('{app}views/shared/footer.cshtml')