@views::view('shared/header.cshtml')

				<script type="text/javascript">
					function publishSurvey() {
						var surveyid = $l.dom.selectSingle('#surveyid').value;
						location.href = $l.baseLocation + '/surveypublish/new/' + surveyid;

						return false;
					}

					$l.ready(function() {
						$l.dom.setEvent($l.dom.selectSingle('#publishsurvey'), 'click', publishSurvey);
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize surveys</em>Surveys</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Surveys</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <!-- User Details -->
					<div class="marginBottom30px">
						<h3>Publish a Survey</h3>
						<div class="bglight padding10px">
							<form method="post" action="@mvc::url('surveypublish/new')">
								<p>
									Survey :
									<select name="surveyid" id="surveyid">
									@html::selectOptions($surveynames, null, 'title')
									</select>
								</p>
								<p><input type="submit" value="Publish Survey" id="publishsurvey" /></p>
							</form>
						</div>
					</div>

					<div>
						<h3 class="floatleft">Existing Surveys</h3>
						<a href="@mvc::url('surveys/new')" class="more floatright">Create New</a>
						<div class="clear"></div>
					</div>

                    <table width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
								<th>Description</th>
                                <th>Created At</th>
								<th>Category</th>
								<th>Language</th>
								<th>Total Responses</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
						@foreach($surveys as &$survey) {
                            <tr>
								<td><a href="@mvc::url('surveys/questions/' . $survey['surveyid'])">@$survey['title']</a></td>
								<td>@$survey['description']</td>
                                <td>@statics::datePrint($survey['createdate'], false)</td>
                                <td>@statics::$categoriesWithCounts[$survey['categoryid']]['name']</td>
								<td>@statics::$languagesWithCounts[$survey['languageid']]['name']</td>
                                <td>0</td>
                                <td>
									<a href="@mvc::url('surveys/edit/' . $survey['surveyid'])">Edit</a> |
									<a href="@mvc::url('surveys/questions/' . $survey['surveyid'])">Questions</a> |
									<a href="@mvc::url('surveypublish/new/' . $survey['surveyid'])">Publish</a>
								</td>
                            </tr>
							@if(isset($surveypublishs[$survey['surveyid']])) {
							<tr>
								<td colspan="7">
									<table width="100%" cellspacing="0" cellpadding="0" class="innertable">
										<!--
										<thead>
											<tr>
												<th>Publisher</th>
												<th>Validity</th>
												<th>Properties</th>
												<th>Responses</th>
												<th></th>
											</tr>
										</thead>
										-->
										<tbody>
										@foreach($surveypublishs[$survey['surveyid']] as $surveypublish) {
											<tr>
												<td>Revision @$surveypublish['revision']</td>
												<td>Published by @$surveypublish['ownerid']</td>
												<td>Between @$surveypublish['startdate'] and @$surveypublish['enddate']</td>
												<td><em>(private, password)</em></td>
												<td>0 response</td>
												<td>
													<a href="@mvc::url('surveys/report/' . $survey['surveyid'])">Report</a>
												</td>
											</tr>
										}
										</tbody>
									</table>
								</td>
                            </tr>
							}
						}
                        </tbody>
                    </table>

					<!-- Pagination -->
					<ul id="pagination" class="margintop10px">
						@html::pager(array(
							'total' => $pagerTotal,
							'pagesize' => surveys::PAGE_SIZE,
							'current' => $pagerCurrent,
							'link' => '<li><a href="' . mvc::url('surveys/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'activelink' => '<li class="act"><a href="' . mvc::url('surveys/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'firstlast' => false
						))
					</ul>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')