@views::view('shared/header.cshtml')

				<script type="text/javascript">
					function publishSurvey() {
						var surveyid = $l.dom.selectSingle('#surveyid').value;
						location.href = $l.baseLocation + '/surveys/publish/' + surveyid;

						return false;
					}

					$l.ready(function() {
						$l.dom.setEvent($l.dom.selectSingle('#publishsurvey'), 'click', publishSurvey);
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize surveys</em>Surveys</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Surveys</li>
                    </ul>
                </div>
                
				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

				<!-- Page Content Start -->
                <div class="full-page-text">

                    <!-- User Details -->
					<div>
						<h3 class="floatleft">Existing Surveys</h3>
						<a href="@mvc::url('surveys/new')" class="more floatright">Create New</a>
						<div class="clear"></div>
					</div>

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

					@{ $tLastCategory = null; }
					@foreach($surveys as &$survey) {
						@if($survey['categoryid'] != $tLastCategory) {
							<h3>@statics::$categoriesWithCounts[$survey['categoryid']]['name']</h3>
							@{ $tLastCategory = $survey['categoryid']; }
						}

						<div class="accordion">
							<div class="accordionTitle">@$survey['title']</div>
							<div class="accordionContent">
								<table class="cellpadding4px" width="100%" cellpadding="0" cellspacing="0">
								<tr>
									<th>Last Revision:</th>
									<td>@string::coalesce($survey['lastrevision'], '-')</td>
									<th>Created At:</th>
									<td>@statics::datePrint($survey['createdate'], false)</td>
								</tr>
								<tr>
									<th>Category:</th>
									<td>@statics::$categoriesWithCounts[$survey['categoryid']]['name']</td>
									<th>Language:</th>
									<td>@statics::$languagesWithCounts[$survey['languageid']]['name']</td>
								</tr>
								<tr>
									<th>Theme:</th>
									<td>@statics::$themesWithCounts[$survey['themeid']]['name']</td>
									<th>Total Responses:</th>
									<td>0</td>
								</tr>
								<tr>
									<th>Description:</th>
									<td colspan="3">@$survey['description']</td>
								</tr>
								</table>
								@if(isset($surveypublishs[$survey['surveyid']])) {
								<table class="extable innertable" width="100%" cellspacing="0" cellpadding="0">
									<thead>
										<tr>
											<th>Revision</th>
											<th>Start Date</th>
											<th>End Date</th>
											<th>Responses</th>
											<th>Limit</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
									@foreach($surveypublishs[$survey['surveyid']] as $surveypublish) {
										@{
											$tProps = array();
											if(strlen($surveypublish['password']) > 0) {
												$tProps[] = 'password';
											}
											if($surveypublish['type'] != statics::SURVEY_PUBLIC) {
												$tProps[] = 'private';
											}
											if($surveypublish['enabled'] == statics::SURVEY_DISABLED) {
												$tProps[] = 'disabled';
											}
										}
										<tr>
											<td>
												<a href="@mvc::url('surveys/editpublish/' . $surveypublish['surveypublishid'])">Revision @$surveypublish['revision']</a>
												@if(count($tProps) > 0) {
													<em>(@implode($tProps, ', '))</em>
												}
											</td>
											<td>@$surveypublish['startdate']</td>
											<td>@$surveypublish['enddate']</td>
											<td>0</td>
											<td>@$surveypublish['limit']</td>
											<td>
												<a href="@mvc::url('surveys/editpublish/' . $surveypublish['surveypublishid'])">Edit</a> ·
												<a href="@mvc::url('surveys/share/' . $surveypublish['surveypublishid'])">Share</a> ·
												<a href="@mvc::url('surveys/report/' . $surveypublish['surveypublishid'])">Report</a>
											</td>
										</tr>
									}
									</tbody>
								</table>
								}
								<p class="alignRight marginTop10px">
									<a class="xbutton" href="@mvc::url('surveys/edit/' . $survey['surveyid'])">Edit</a>
									<a class="xbutton" href="@mvc::url('surveys/questions/' . $survey['surveyid'])">Questions</a>
									<a class="xbutton" href="@mvc::url('surveys/publish/' . $survey['surveyid'])">Publish</a>
								</p>
							</div>
						</div>
					}

					<!-- Pagination -->
					<ul id="pagination" class="margintop10px">
						@html::pager(array(
							'total' => $pagerTotal,
							'pagesize' => surveys::PAGE_SIZE,
							'current' => $pagerCurrent,
							'link' => '<li><a href="' . mvc::url('surveys/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'activelink' => '<li class="act"><a href="' . mvc::url('surveys/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'firstlast' => false
						))
					</ul>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')