@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Create New Survey</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
                        <li>New Survey</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
                    
                    <h3>Add New Survey</h3>
                    <form id="addQuestion" method="post">
						<p>You can add new survey to system by using this page easly.</p>
						<p>Title : <input type="text" name="title" value="" data-defaulttext="Type your question title here" /></p>
						<p>Description : <textarea name="description"></textarea></p>
						<p>Category : <select name="categoryid">@statics::selectboxCategories()</select></p>
						<p>Language : <select name="languageid">@statics::selectboxLanguages()</select></p>
						<p>Theme : <select name="themeid">@statics::selectboxThemes()</select></p>
						<p><input type="submit" value="Add Survey" /></p>
                    </form>
                    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')