@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Create New Survey</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
                        <li>Create New</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
                    
                    <h3>How to Write a Greate Resume?</h3>
                    <p>Put the tomatoes cut them into medium carrots and boil in the vegetable can be enough to revert to preserve at the beaten whites are colored, take four of mixed pour on a raw onion puree in two. Day blushes visitor end company old prevent chapter. Possible all ignorant supplied get settling marriage:</p>
                    <ul class="arrow">
                        <li>Ut ligula diam, gravida quis pulvinar vel, fermentum a est;</li>
                        <li>Quisque eu volutpat dui. Nunc fringilla, urna bibendum sagittis hendrerit;</li>
                        <li>Quisque libero odio, consectetur non scelerisque sed.</li>
                    </ul>
                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
                    
                    <div id="in-post-meta">
                    	This entry was posted in <a href="#">Corporate Blog</a> by <a href="#">George</a> on 14 Feb, 2012.
                    </div>
                    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')