@views::view('shared/header.cshtml')

				<script type="text/javascript">
					$l.ready(function() {
						$l.ui.datepicker($('#startdate'), {dateFormat: 'dd.mm.yy'});
						$l.ui.datepicker($('#enddate'), {dateFormat: 'dd.mm.yy'});
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Publish Survey</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>Publishs</li>
                        <li>New Publish</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>

                    <h3>Publish Survey</h3>
                    <form class="validation" id="publishSurvey" action="@mvc::url('surveys/publish')" method="post">
						<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="width200px"><label id="title_survey" for="survey">Survey *</label></td>
								<td><select id="survey" name="surveyid">
									@html::selectOptions($surveys, isset($surveyid) ? $surveyid : null, 'title')
									</select></td>
							</tr>
							<tr>
								<td class="width200px"><label id="title_startdate" for="startdate" class="required">Start Date *</label></td>
								<td><input id="startdate" type="text" name="startdate" value="@date('d.m.Y')" /></td>
							</tr>
							<tr>
								<td class="width200px"><label id="title_enddate" for="enddate">End Date</label></td>
								<td><input id="enddate" type="text" name="enddate" value="" /></td>
							</tr>
							<tr>
								<td class="width200px"><label id="title_password" for="password">Password (optional)</label></td>
								<td><input id="password" type="password" name="password" value="" /></td>
							</tr>
							<tr>
								<td class="width200px"><label id="title_userlimit" for="userlimit">User Limit (optional)</label></td>
								<td><input id="userlimit" type="text" name="userlimit" value="" class="digits" /></td>
							</tr>
							<tr>
								<td class="width200px"><label id="title_type" for="type">Type</label></td>
								<td><select name="type" id="type">
								@html::selectOptions(statics::$surveytypes)
								</select></td>
							</tr>
							<tr>
								<td class="width200px"><label id="title_status" for="status">Status</label></td>
								<td><select name="enabled" id="status">
								@html::selectOptions(statics::$surveystatus, statics::SURVEY_ENABLED)
								</select></td>
							</tr>
							<tr>
								<td colspan="2" class="alignRight">
									<input type="submit" value="Publish Survey" id="submit_btn" name="submit" />
								</td>
							</tr>
						</table>
                    </form>
                    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')