@views::view('shared/header.cshtml')

				<script type="text/javascript">
					function addNewChoice() {
						$l.dom.append(
							$l.dom.selectSingle('#options'),
							'<li>Option <span class="number"></span>: <input type="text" name="options[]" value="" /> <select name="optiontypes[]">@string::squote(html::selectOptions(statics::$questionoptiontypes))</select> <a class="remove" href="#">Remove</a></li>'
						);

						renumber();
						return false;
					}

					function removeChoice(e, it) {
						$l.dom.remove(it.parentElement);

						renumber();
						return false;
					}
					
					function renumber() {
						var nodes = $l.dom.select('#options li');
						for(i = 0; i < nodes.length; i++) {
							$l.dom.selectSingle('.number', nodes[i]).innerText = (i + 1);
							$l.dom.setEvent($l.dom.selectSingle('.remove', nodes[i]), 'click', removeChoice);
						}
					}

					$l.ready(function() {
						$l.ui.autocomplete(
							$('#query'),
							{
								delay: 0,
								minLength: 0,
								source: @json_encode($querySuggestions),
								labelfieldname: 'label',
								hiddenfield: $('#queryhidden'),
								hiddenfieldname: 'hiddenvalue',
								alllist: true,
								onselect: function() {
									$('#addQuestion1 input[type=submit]').effect('highlight'); // , 1000
								}
							}
						);

						$l.dom.setEvent($l.dom.selectSingle('#addnewchoice'), 'click', addNewChoice);
						renumber();
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Survey Questions</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>Questions</li>
						<li>@$survey['title']</li>
                    </ul>
                </div>
                
				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

				<!-- Page Content Start -->
                <div class="full-page-text">

                    <h3>Add Question</h3>
					<div class="tabs_table">
						<ul class="tabs">
							<li><a rel="tab_1">Question Pool</a></li>
							<li><a rel="tab_2">Evaluation</a></li>
							<li><a rel="tab_3">Multiple Choices</a></li>
							<li><a rel="tab_4">Fill In The Blanks</a></li>
						</ul>
						<div class="panes">
							<div id="tab_1" class="tab-content">
								<form id="addQuestion1" method="post" action="@mvc::url('surveys/questions/' . $survey['surveyid'])">
									<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="width200px"><label id="title_content1" for="content1">Question *</label></td>
											<td>
												<input id="query" type="text" size="50" id="content1" value="" data-defaulttext="Type to search from question pool" />
												<input id="queryhidden" type="hidden" name="questionid" value="" />
											</td>
										</tr>
									</table>

									<p class="alignRight"><input type="submit" value="Add Question" /></p>
								</form>
							</div>
							<div id="tab_2" class="tab-content">
								<form id="addQuestion2" method="post" action="@mvc::url('surveys/questions/' . $survey['surveyid'] . '/' . statics::QUESTION_EVALUATION)">
									<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="width200px"><label id="title_content2" for="content2">Question *</label></td>
											<td><input type="text" size="50" id="content2" name="content" value="" data-defaulttext="Type your question here" /></td>
										</tr>
										<tr>
											<td><label id="isshared_label2" for="isshared2">Accessibility *</label></td>
											<td><select name="isshared">@html::selectOptions(statics::$sharedboolean, statics::SHARE_SHARED)</select></td>
										</tr>
									</table>
									<div class="xline"></div>

									<ul class="marginTop10px l-child">
										<li>Strongly Agree</li>
										<li>Agree</li>
										<li>Neutral</li>
										<li>Disagree</li>
										<li>Strongly Disagree</li>
									</ul>

									<p class="alignRight"><input type="submit" value="Add Question" /></p>
								</form>
							</div>
							<div id="tab_3" class="tab-content">
								<form id="addQuestion3" method="post" action="@mvc::url('surveys/questions/' . $survey['surveyid'] . '/' . statics::QUESTION_MULTIPLE)">
									<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="width200px"><label id="title_content3" for="content3">Question *</label></td>
											<td><input type="text" size="50" id="content3" name="content" value="" data-defaulttext="Type your question here" /></td>
										</tr>
										<tr>
											<td><label id="isshared_label3" for="isshared3">Accessibility *</label></td>
											<td><select name="isshared">@html::selectOptions(statics::$sharedboolean, statics::SHARE_SHARED)</select></td>
										</tr>
									</table>
									<div class="xline"></div>

									<a id="addnewchoice" href="#">Add New Choice</a>
									<ul class="marginTop10px arrow l-child" id="options">
										<li>
											Option <span class="number"></span>: <input type="text" name="options[]" value="" />
											<select name="optiontypes[]">@html::selectOptions(statics::$questionoptiontypes)</select>
											<a class="remove" href="#">Remove</a>
										</li>
									</ul>

									<p class="alignRight"><input type="submit" value="Add Question" /></p>
								</form>
							</div>
							<div id="tab_4" class="tab-content">
								<form id="addQuestion4" method="post" action="@mvc::url('surveys/questions/' . $survey['surveyid'] . '/' . statics::QUESTION_FILL)">
									<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td class="width200px"><label id="title_content4" for="content4">Question *</label></td>
											<td><input type="text" size="50" id="content4" name="content" value="" data-defaulttext="Type your question here" /></td>
										</tr>
										<tr>
											<td><label id="isshared_label4" for="isshared4">Accessibility *</label></td>
											<td><select name="isshared">@html::selectOptions(statics::$sharedboolean, statics::SHARE_SHARED)</select></td>
										</tr>
									</table>
									<div class="xline"></div>

									<ul class="marginTop10px l-child">
									@foreach(html::radioOptionsArray('typefilter', statics::$questiontypefilters, '0') as $option) {
										<li>@$option</li>
									}
									</ul>

									<p class="alignRight"><input type="submit" value="Add Question" /></p>
								</form>
							</div>
						</div>
					</div>

					<h3 class="marginTop10px">Questions</h3>
					<div>
						@{ $count = 0; }
						@foreach($questions as $question) {
							@{ echo ++$count; }. @$question['content']<br />
						}
					</div>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')