@{
	use Scabbia\views;
	use Scabbia\mvc;
	use Scabbia\session;
}
@views::view('shared/header.cshtml')

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize surveys</em>Surveys</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>Reports</li>
						<li>@$surveypublish['title']</li>
                    </ul>
                </div>

				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

                <!-- Page Content Start -->
                <div class="full-page-text">

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
								<th>Language</th>
								<th>Created At</th>
								<th>Created By</th>
								<th>Responses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								<td>@$surveypublish['title']</td>
                                <td><a href="@mvc::url('categories/list/' . $surveypublish['categoryid'])">@statics::$categoriesWithCounts[$surveypublish['categoryid']]['name']</a></td>
                                <td>@statics::$languagesWithCounts[$surveypublish['languageid']]['name']</td>
								<td>@statics::datePrint($surveypublish['createdate'], false)</td>
								<td>@$user['displayname']</td>
								<td>@$counter@if($surveypublish['userlimit'] != '0') {
									/ @$surveypublish['userlimit']
								}</td>
                            </tr>   			
                        </tbody>
                    </table>
					<br />

					@{ $count = 0; }
					@foreach($newarray as &$question) {
                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th class="width200px">@$question['content'] @if($question['enabled'] == statics::SURVEY_DISABLED) {
									(disabled)
								}</th>
								<th>Responses (@$question['total'])</th>
						   </tr>
						</thead>
						<tbody>
						@if($question['type'] == statics::QUESTION_MULTIPLE) {
							<tr>
								<td colspan="2">
									<div class="graph" id="graph@{ echo ++$count; }"></div>
								</td>
							</tr>
						}
						@foreach($question['items'] as &$choice) {
							<tr>
								<td>@$choice['content']</td>
								<td>@$choice['count']</td>
							</tr>
						}
						</tbody>
                    </table>
					@if($question['type'] == statics::QUESTION_MULTIPLE) {
					<script type="text/javascript">
						$.plot(
							$('#graph@{ echo $count; }'),
							[
								@foreach($question['items'] as &$choice) {
								{ label: "@$choice['content']", data: @$choice['count']},
								}
							],
							{
								series: {
									pie: {
										show: true
									}
								},
								legend: {
									show: false
								}
							}
						);
					</script>
					}
					<br />
					}

				</div>
                <!-- Page Content End -->

@views::view('shared/footer.cshtml')