@views::view('shared/header.cshtml')

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize surveys</em>Surveys</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>Reports</li>
						<li>@$surveypublish['title']</li>
                    </ul>
                </div>

				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
								<th>Language</th>
								<th>Created At</th>
								<th>Created By</th>
								<th>Responses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								<td>@$surveypublish['title']</td>
                                <td><a href="@mvc::url('categories/list/' . $surveypublish['categoryid'])">@statics::$categoriesWithCounts[$surveypublish['categoryid']]['name']</a></td>
                                <td>@statics::$languagesWithCounts[$surveypublish['languageid']]['name']</td>
								<td>@statics::datePrint($surveypublish['createdate'], false)</td>
								<td>@$user['displayname']</td>
								<td>@$counter@if($surveypublish['userlimit'] != '0') {
									/ @$surveypublish['userlimit']
								}</td>
                            </tr>   			
                        </tbody>
                    </table>
					<br />

                     <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                     @foreach($questions as $question){
						<thead>
							<tr>
							   <th>@$question['content']</th>
							   <th>Responses</th>
						   </tr>
						</thead>
						@foreach($choices as $key2 => $choice2) {
							@foreach($choice2 as $key => $choice) {
								<tbody>
									<tr>
										<td>@$choice['content']</td>
										<td>
										@{
											/*
											foreach($reports[$key2] as $report) {
												echo $report['questionchoiceid'] . '+ ';
											}
											*/
										}
										</td>
									</tr>
								</tbody>
							}
						}
                     }
                     </table>

				</div>
                <!-- Page Content End -->

@views::view('shared/footer.cshtml')