@views::view('shared/header.cshtml')

				@{
					$url = 'http://' . $_SERVER['HTTP_HOST'] . @mvc::url('surveys/take/' . $surveys['surveypublishid']);
					$logourl = 'http://' . $_SERVER['HTTP_HOST'] . @$root . '/res/img/logo.png';
				}

				<script src="http://connect.facebook.net/en_US/all.js"></script>

				<style type="text/css">
				@$theme['cssrules']
				</style>

				<script type="text/javascript">
					FB.init({appId: '448617345200807', status: true, cookie: true});

					function postToFeed() {
						var obj = {
							method: 'feed',
							redirect_uri: '@$url',
							link: '@$url',
							picture: '@$logourl',
							name: 'survey-e-bot: @$surveys['title']',
							caption: '@$surveys['title']',
							description: '@$surveys['description']'
						};

						function callback(response) {
							// document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
						}

						FB.ui(obj, callback);
						return false;
					}

					$l.ready(function() {
						var shareButton = $l.dom.selectSingle('#share');
						$l.css.removeClass(shareButton, 'hidden');
						$l.dom.setEvent(shareButton, 'click', postToFeed);
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>yet another survey-e-bot survey!</em>@$surveys['title']</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>@$surveys['title']</li>
                    </ul>
                </div>
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>@$surveys['description']</p>

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
								<th>Language</th>
								<th>Created At</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								<td>@$surveys['title']</td>
                                <td>@statics::$categoriesWithCounts[$surveys['categoryid']]['name']</td>
                                <td>@statics::$languagesWithCounts[$surveys['languageid']]['name']</td>
								<td>@statics::datePrint($surveys['createdate'], false)</td>
                            </tr>   			
                        </tbody>
                    </table> <br />
                     <form name="takeSurvey" method="POST" action="">
                     <table class="extable" width="100%" cellspacing="0" cellpadding="0">
					 @{ $count = 0; }
                     @foreach($questions as $question) {
                        <thead>
							<tr>
								<th class="question">@{ echo ++$count; }. @$question['content']</th>
							</tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @if($question['type'] == statics::QUESTION_EVALUATION) {
                                        @html::radioOptions(@$question['questionid'], statics::$evaluationoptions)
                                    }
                                    @if($question['type'] == statics::QUESTION_FILL) {
                                        @html::textBox($question['questionid'])
                                    }
                                    @if($question['type'] == statics::QUESTION_MULTIPLE && isset($choices[$question['questionid']])) {
                                        @foreach($choices[$question['questionid']] as $choice) {
                                            <label><input type="radio" name="@$question['questionid']" value="@$choice['questionchoiceid']"> @$choice['content']</label>
                                            @if($choice['type'] > statics::QUESTIONOPTION_NOINPUT) {
												<input class="required" type="text" name="@$question['questionid']value" value="" />
											}<br />
                                        }
                                    }
                                </td>
                            </tr>
                        </tbody>
                     }
                     </table>
                     <br />
                     <p><input type="submit" value="Submit" /></p>
                     </form>
				</div>
                <!-- Page Content End -->
@views::view('shared/footer.cshtml')