@{
	use Scabbia\views;
	use Scabbia\mvc;
	use Scabbia\fb;
	use Scabbia\session;
}
@views::view('shared/header.cshtml')

				@{
					$url = 'http://' . $_SERVER['HTTP_HOST'] . @mvc::url('surveys/take/' . $surveypublish['surveypublishid']);
					$logourl = 'http://' . $_SERVER['HTTP_HOST'] . @$root . '/res/img/logo.png';
				}

				<script src="http://connect.facebook.net/en_US/all.js"></script>

				<script type="text/javascript">
					FB.init({appId: '@fb::$appId', status: true, cookie: true});

					function postToFeed() {
						var obj = {
							method: 'feed',
							redirect_uri: '@$url',
							link: '@$url',
							picture: '@$logourl',
							name: 'survey-e-bot: @$surveypublish['title']',
							caption: '@$surveypublish['title']',
							description: '@$surveypublish['description']'
						};

						function callback(response) {
							// document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
						}

						FB.ui(obj, callback);
						return false;
					}

					$l.ready(function() {
						var shareButton = $l.dom.selectSingle('#share');
						$l.css.removeClass(shareButton, 'hidden');
						$l.dom.setEvent(shareButton, 'click', postToFeed);
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>yet another survey-e-bot survey!</em>@$surveypublish['title']</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>@$surveypublish['title']</li>
                    </ul>
                </div>

				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>@$surveypublish['description']</p>

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
								<th>Language</th>
								<th>Created At</th>
								<th>Created By</th>
								<th>Responses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								<td>@$surveypublish['title']</td>
                                <td><a href="@mvc::url('categories/list/' . $surveypublish['categoryid'])">@statics::$categoriesWithCounts[$surveypublish['categoryid']]['name']</a></td>
                                <td>@statics::$languagesWithCounts[$surveypublish['languageid']]['name']</td>
								<td>@statics::datePrint($surveypublish['createdate'], false)</td>
								<td>@$user['displayname']</td>
								<td>@$counter@if($surveypublish['userlimit'] != '0') {
									/ @$surveypublish['userlimit']
								}</td>
                            </tr>   			
                        </tbody>
                    </table>

					<div class="ppopup">
						<div class="content">
							<h1>@$title</h1>
							<div>@$message</div>
						</div>
					</div>

				</div>
                <!-- Page Content End -->

@views::view('shared/footer.cshtml')