@views::view('shared/header.cshtml')
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize surveys</em>Surveys</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('surveys/index')">Surveys</a></li>
						<li>@$surveys['title']</li>
                    </ul>
                </div>
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Category</th>
								<th>Language</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
								<td>@$surveys['title']</td>
                                <td>@statics::$categoriesWithCounts[$surveys['categoryid']]['name']</td>
                                <td>@statics::$languagesWithCounts[$surveys['languageid']]['name']</td>
                            </tr>   			
                        </tbody>
                    </table> <br>
                     <form name="takeSurvey" method="POST" action="">
                     <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                     @foreach($questions as $question){
                          <thead>
                          <tr>
                              <th>@$question['content']</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>
                                    @if($question['type'] == statics::QUESTION_EVALUATION) {
                                        @html::radioOptions(@$question['questionid'], statics::$evaluationoptions)
                                    }
                                    @if($question['type'] == statics::QUESTION_FILL) {
                                        @html::textBox($question['questionid'])
                                    }
                                    @if($question['type'] == statics::QUESTION_MULTIPLE) {
                                        @foreach($choices[$question['questionid']] as $choice){
                                            <input type="radio" name="@$question['questionid']" value="@$choice['questionchoiceid']"> @$choice['content']
                                            @if($choice['type'] != 0) { <input type="text" name="@$question['questionid']value"> }<br />
                                        }
                                    }
                                </td>
                            </tr>
                          </tbody>
                     }
                     </table>
                     <br>
                     <p> <input type="submit" value="Submit"> </p>
                     </form>
				</div>
                <!-- Page Content End -->
@views::view('shared/footer.cshtml')