@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize questions</em>Question Pool</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Questions</li>
                    </ul>
                </div>
                
                <!-- Page Content Start -->
                <div class="full-page-text">

                    <p>At as in understood an remarkably solicitude. Mean them very seen she she. Use totally written the observe pressed justice. Instantly cordially far intention recommend estimable yet her his. Ladies stairs enough esteem add fat all enable.</p>

                    <!-- User Details -->
					<div>
						<h3 class="floatleft">Your Contributions</h3>
						<a href="@mvc::url('questions/new')" class="more floatright">Create New</a>
						<div class="clear"></div>
					</div>

                    <table width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Content</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
						@foreach($questions as &$question) {
                            <tr>
								<td><a href="@mvc::url('questions/edit/' . $question['questionid'])">@$question['content']</a></td>
                                <td>@statics::$questiontypes[$question['type']]</td>
                                <td>
									<a href="@mvc::url('questions/edit/' . $question['questionid'])">Edit</a> |
									<a href="@mvc::url('questions/report/' . $question['questionid'])">Report</a>
								</td>
                            </tr>
						}
                        </tbody>
                    </table>

					<!-- Pagination -->
					<ul id="pagination" class="margintop10px">
						<li><a href="#">&laquo;</a></li>
						<li class="act"><a href="#">1</a></li>
						<li><a href="#">&raquo;</a></li>
					</ul>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')