@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1><em>add, edit and organize questions</em>Question Pool</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li>Questions</li>
                    </ul>
                </div>
                
				@if(session::existsFlash('notification')) {
					@{ $notification = session::getFlash('notification'); }
					<div class="msg@$notification[0]">
					   <p>@$notification[1]</p>
					</div>
				}

				<!-- Page Content Start -->
                <div class="full-page-text">

                    <!-- User Details -->
					<div>
						<h3 class="floatleft">Your Contributions</h3>
						<a href="@mvc::url('questions/new')" class="more floatright">Create New</a>
						<div class="clear"></div>
					</div>

                    <table class="extable" width="100%" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Question</th>
                                <th>Type</th>
                                <th>Accessibility</th>
								<th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
						@foreach($questions as &$question) {
                            <tr class="@{ if($question['enabled'] == statics::SURVEY_DISABLED) { echo 'questionDisabled'; } else { echo 'questionEnabled'; } }">
								<td><a href="@mvc::url('questions/edit/' . $question['questionid'])">@$question['content']</a></td>
                                <td>
									@statics::$questiontypes[$question['type']]
									@if($question['type'] == statics::QUESTION_FILL) {
										@statics::$questiontypefilters[$question['typefilter']]
									}
								</td>
                                <td>
									@statics::$sharedboolean[$question['isshared']]
								</td>
                                <td>
									@statics::$surveystatus[$question['enabled']]
								</td>
                                <td>
									<a href="@mvc::url('questions/edit/' . $question['questionid'])">Edit</a> ·
									<a href="@mvc::url('questions/report/' . $question['questionid'])">Report</a>
								</td>
                            </tr>
						}
                        </tbody>
                    </table>

					<!-- Pagination -->
					<ul id="pagination" class="margintop10px">
						@html::pager(array(
							'total' => $pagerTotal,
							'pagesize' => questions::PAGE_SIZE,
							'current' => $pagerCurrent,
							'link' => '<li><a href="' . mvc::url('questions/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'activelink' => '<li class="act"><a href="' . mvc::url('questions/index/{page}') . '" class="pagerlink">{pagetext}</a></li>',
							'firstlast' => false
						))
					</ul>

				</div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')