@views::view('shared/header.cshtml')

				<script type="text/javascript">
					window.pageOptions = 1;

					function addNewChoice() {
						window.pageOptions++;
						$l.dom.append(
							$l.dom.selectSingle('#options'),
							'<li>Option <span class="number">' + window.pageOptions + '</span>: <input name="options[]" value="" /> <a class="remove" href="#">Remove</a></li>'
						);

						renumber();
						return false;
					}

					function removeChoice(e, it) {
						$l.dom.remove(it.parentElement);

						renumber();
						return false;
					}
					
					function renumber() {
						var nodes = $l.dom.select('#options li');
						for(i = 0; i < nodes.length; i++) {
							$l.dom.selectSingle('.number', nodes[i]).innerText = (i + 1);
							$l.dom.setEvent($l.dom.selectSingle('.remove', nodes[i]), 'click', removeChoice);
						}
					}
					
					$l.ready(function() {
						$l.dom.setEvent($l.dom.selectSingle('#addnewchoice'), 'click', addNewChoice);
						renumber();
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Create New Questions</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('questions/index')">Questions</a></li>
                        <li>New Question</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
                    
                    <h3>Add New Question</h3>
                    <form id="addQuestion" method="post" action="">
						<p>You can add new survey to system by using this page easly.</p>
						<p>Question : <input name="question" value="" data-defaulttext="Type your question here" /> <a id="addnewchoice" href="#">Add New Choice</a></p>

						<div class="tabs_table">
							<ul class="tabs">
								<li><a rel="tab_1">Multiple Choices</a></li>
								<li><a rel="tab_2">Fill In The Blanks</a></li>
							</ul>
							<div class="panes">
								<div id="tab_1" class="tab-content">
									<ul class="arrow l-child" id="options">
										<li>Option <span class="number">1</span>: <input name="options[]" value="" /> <a class="remove" href="#">Remove</a></li>
									</ul>

									<p class="alignRight"><input type="submit" value="Add Question" /></p>
								</div>
								<div id="tab_2" class="tab-content">
									<ul class="l-child">
										<li><input type="radio" name="filltype" id="filltype1" value="1" /><label for="filltype1">Any</label></li>
										<li><input type="radio" name="filltype" id="filltype2" value="2" /><label for="filltype2">Numeric</label></li>
										<li><input type="radio" name="filltype" id="filltype3" value="3" /><label for="filltype3">Alphanumeric</label></li>
									</ul>
									<p class="alignRight"><input type="submit" value="Add Question" /></p>
								</div>
							</div>
						</div>
                    </form>
                    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')