@views::view('shared/header.cshtml')

				<script type="text/javascript">
					function addNewChoice() {
						$l.dom.append(
							$l.dom.selectSingle('#options'),
							'<li>Option <span class="number"></span>: <input type="text" name="options[]" value="" /> <select name="optiontypes[]">@string::squote(html::selectOptions(statics::$questionoptiontypes))</select> <a class="remove" href="#">Remove</a></li>'
						);

						renumber();
						return false;
					}

					function removeChoice(e, it) {
						$l.dom.remove(it.parentElement);

						renumber();
						return false;
					}
					
					function renumber() {
						var nodes = $l.dom.select('#options li');
						for(i = 0; i < nodes.length; i++) {
							$l.dom.selectSingle('.number', nodes[i]).innerText = (i + 1);
							$l.dom.setEvent($l.dom.selectSingle('.remove', nodes[i]), 'click', removeChoice);
						}
					}

					function formSubmit() {
						var activeElement = $l.dom.selectSingle('.tabs li a.selected');

						switch(activeElement.getAttribute('rel')) {
						case 'tab_1':
							$l.dom.selectSingle('#questionType').value = '@statics::QUESTION_EVALUATION';
							break;
						case 'tab_2':
							$l.dom.selectSingle('#questionType').value = '@statics::QUESTION_MULTIPLE';
							break;
						case 'tab_3':
							$l.dom.selectSingle('#questionType').value = '@statics::QUESTION_FILL';
							break;
						}
					}
					
					$l.ready(function() {
						$l.dom.setEvent($l.dom.selectSingle('#addnewchoice'), 'click', addNewChoice);
						renumber();

						$l.dom.setEvent($l.dom.selectSingle('#addQuestion'), 'submit', formSubmit);
					});
				</script>

                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Create New Questions</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('questions/index')">Questions</a></li>
                        <li>New Question</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>You can add new survey to system by using this page easly.</p>
                    
                    <h3>Add New Question</h3>
                    <form id="addQuestion" method="post" action="@mvc::url('questions/new')">
						<input id="questionType" type="hidden" name="type" value="@statics::QUESTION_EVALUATION" />

						<table class="cellpadding4px" width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td class="width200px"><label id="title_content" for="content">Question *</label></td>
								<td><input type="text" size="50" id="content" name="content" class="required" value="" data-defaulttext="Type your question here" /></td>
							</tr>
							<tr>
								<td><label id="isshared_label" for="isshared">Accessibility *</label></td>
								<td><select name="isshared">@html::selectOptions(statics::$sharedboolean, statics::SHARE_SHARED)</select></td>
							</tr>
						</table>

						<div class="marginTop20px tabs_table">
							<ul class="tabs">
								<li><a rel="tab_1">Evaluation</a></li>
								<li><a rel="tab_2">Multiple Choices</a></li>
								<li><a rel="tab_3">Fill In The Blanks</a></li>
							</ul>
							<div class="panes">
								<div id="tab_1" class="tab-content">
									<ul class="l-child">
										<li>Strongly Agree</li>
										<li>Agree</li>
										<li>Neutral</li>
										<li>Disagree</li>
										<li>Strongly Disagree</li>
									</ul>
								</div>
								<div id="tab_2" class="tab-content">
									<a id="addnewchoice" href="#">Add New Choice</a>
									<ul class="arrow l-child" id="options">
										<li>
											Option <span class="number"></span>: <input type="text" name="options[]" value="" />
											<select name="optiontypes[]">@html::selectOptions(statics::$questionoptiontypes)</select>
											<a class="remove" href="#">Remove</a>
										</li>
									</ul>
								</div>
								<div id="tab_3" class="tab-content">
									<ul class="l-child">
									@foreach(html::radioOptionsArray('typefilter', statics::$questiontypefilters, '0') as $option) {
										<li>@$option</li>
									}
									</ul>
								</div>
							</div>
							<p class="alignRight"><input type="submit" value="Add Question" /></p>
						</div>
                    </form>
                    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')