@views::view('shared/header.cshtml')
                
                <!-- Breadcrumbs, Page Title -->
                <div id="page-head">
                    <h1>Create New Questions</h1>
                    <ul id="breadcrumbs">
                        <li><a href="@mvc::url('home/index')">Home</a></li>
                        <li><a href="@mvc::url('questions/index')">Questions</a></li>
                        <li>New Question</li>
                    </ul>
                </div>
                
                <!-- Start Page Content -->
                <div class="full-page-text">

                    <p>Day blushes visitor end company old prevent chapter. Consider declared expenses concerns. Indulgence conviction particular unsatiable boisterous discretion. Direct enough off others say eldest may exeter she. Possible all ignorant supplied get settling marriage recurred.</p>
                    
                    <h3>Add New Question</h3>
                    <form id="addQuestion" method="post" action="">
                    <p>You can add new survey to system by using this page easly.</p>
                    <p>Question : <input name="question" value="Type your question here" /></p>
                    <ul class="arrow">
                        <li>Option 1 : <input name="options[]" value="" /> </li>
                        <li>Option 2 : <input name="options[]" value="" /> </li>
                        <li>Option 3 : <input name="options[]" value="" /> </li>
                    </ul>
                    <p><input type="submit" value="Add Survey"></p>
                    </form>
                    <div id="in-post-meta">
                    	This entry was posted in <a href="#">Corporate Blog</a> by <a href="#">George</a> on 14 Feb, 2012.
                    </div>
                    
                </div>
                <!-- Page Content End -->
    
@views::view('shared/footer.cshtml')