/* LEFT COLUMN */


	/* LOGO BG */
	#logo { background-color: #03b5dc; }
	
	
	/* MAIN MAVIGATION */
	#main-nav {	/* background-color: #24d4fa; */ } /* menu background */
	
	#main-nav li:hover ul li a, #main-nav ul li a { color: #c5f4fe; } /* link color */
	
	#main-nav ul li a { background-color: #0ac6ef; } /* first-level link background */	
	#main-nav ul li.current-menu-item a, #main-nav ul li:hover a, #main-nav ul li ul, #main-nav ul ul a  { background-color: #03b5dc; } /* first-level hovered and active link background, second-level background */
	#main-nav ul ul li:hover a, #main-nav ul ul li.current-menu-item a { background-color: #01aad1; } /* second level hover/active link background */
	
	#main-nav ul li ul li {	border-color: #48c9e6; } /* second-level LI element border */
	#main-nav ul li.current-menu-item, #main-nav ul li:hover { border-color: #21ccf1; } /* first-level active and hovered LI element border */
	

	/* HEADINGS */
	#left-col h1, #left-col h2, #left-col h3, #left-col h4, #left-col h5, #left-col h6 { color: #05A8CC; }


	/* SIDEBAR LINKS HOVER */
	#left-col a:hover { color: #03b5dc; }
	.widget_categories a:hover, .widget_tag_cloud a:hover { background: #0ac6ef; }
	.widget_recent_comments a:hover, .widget_categories a:hover, .widget_tag_cloud a:hover { border-color: #03b5dc; }




/* SHARE BUTTON */
	#share { background-color: #03b5dc; }




/* FOOTER */
	#footer { background: #03b5dc; color: #a8eefe; }
	#footer a { color: #90eaff; }
	#footer .widget, #footer img.alignleft, #footer img.alignright, #footer img.aligncenter { border-color: #04c7f2; }