/* LEFT COLUMN */


	/* LOGO BG */
	#logo { background-color: #686d6a; }
	
	
	/* MAIN MAVIGATION */
	#main-nav {	background-color: #808582; } /* menu background */
	
	#main-nav li:hover ul li a, #main-nav ul li a { color: #ccd4cf; } /* link color */
	
	#main-nav ul li a { background-color: #747976; } /* first-level link background */	
	#main-nav ul li.current-menu-item a, #main-nav ul li:hover a, #main-nav ul li ul, #main-nav ul ul a  { background-color: #686d6a; } /* first-level hovered and active link background, second-level background */
	#main-nav ul ul li:hover a, #main-nav ul ul li.current-menu-item a { background-color: #5b5f5d; } /* second level hover/active link background */
	
	#main-nav ul li ul li {	border-color: #808582; } /* second-level LI element border */
	#main-nav ul li.current-menu-item, #main-nav ul li:hover { border-color: #7b807d; } /* first-level active and hovered LI element border */
	

	/* HEADINGS */
	#left-col h1, #left-col h2, #left-col h3, #left-col h4, #left-col h5, #left-col h6 { color: #686d6a; }


	/* SIDEBAR LINKS HOVER */
	#left-col a:hover { color: #686d6a; }
	.widget_categories a:hover, .widget_tag_cloud a:hover { background: #808582; }
	.widget_recent_comments a:hover, .widget_categories a:hover, .widget_tag_cloud a:hover { border-color: #7b807d; }




/* SHARE BUTTON */
	#share { background-color: #686d6a; }




/* FOOTER */
	#footer { background: #686d6a; color: #bbbdbc; }
	#footer a { color: #bbbdbc; }
	#footer .widget, #footer img.alignleft, #footer img.alignright, #footer img.aligncenter { border-color: #808582; }