html body, html a { color: #999; }

/* HOMEPAGE */
	
	
	/* SLIDER */
	.nivo-controlNav, #big-slider .nivo-caption { background-color: #97a697; border-color: #c0c9c0; color: #dae0da; }

	
	/* HOMEPAGE TEASERS (WIDGETS) */
	#homepage-post { border-color: #c0c9c0; background-color: #97a697; }
	#homepage-teasers .w-title { border-color: #8c9a8c; background-color: #97a697; }
	#homepage-teasers .w-content { border-color: #b5c5b5; background-color: #edf5ed; color: #8b998b; }
	#homepage-post .p-content { color: #dae0da; }
	#homepage-teasers {	border-color: #97a697; }




/* INNERS PAGES */


	/* PAGE HEADER */
	#page-head { border-color: #97a697; background-color: #edf5ed; }
	#page-head h1 {	background-color: #97a697; }
	#breadcrumbs, #breadcrumbs a { color: #8b998b; }
	#page #breadcrumbs { border-color: #97a697 !important; }
	#page #breadcrumbs li { background-image: url("../../img/colors/secondary-old-green/bc.png"); }
	h1 em, h1 i { color: #dae0da; }


	/* BLOG */
	a.comments-count { background-image: url("../../img/colors/secondary-old-green/comments.png"); }
	a.more { color: #8b998b; border-color: #a1b2a1; background-color: #edf5ed; background-image: url("../../img/colors/secondary-old-green/more.png"); }
	#pagination li.act a, #pagination li a:hover, a:hover.more { border-color: #8c9a8c; background-color: #b5c5b5; }


	/* PAGE ELEMENTS */
	.full-page-text a, #comments a, a:hover, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, #p-filter a.act, .p-item dd a { color: #8b998b; } /* links, titles, filter active link, portfolio title link */
	.p-item dt:hover { background-color: #8b998b; }
		
	.h-light2, h6, blockquote { color: #788478; border-color: #788478; }
	
	blockquote { background-image: url("../../img/colors/secondary-old-green/blockquote.png"); }
	
	img.alignleft, img.alignright, img.aligncenter, #portfolio-media li.act img, #p-filter a.act { border-color: #a1b2a1; } /* image border when hover, filter active link border */
	
	#main-col ul.arrow li { background-image: url("../../img/colors/secondary-old-green/li.png"); }




/* FORMS */
	input[type="submit"]:hover, input[type="button"]:hover, button:hover { background-color: #b5c5b5; border-color: #8c9a8c; }