/* HOMEPAGE */
	
	
	/* SLIDER */
	.nivo-controlNav, #big-slider .nivo-caption { background-color: #8fd36f; border-color: #ace691; color: #e2fdd5; }

	
	/* HOMEPAGE TEASERS (WIDGETS) */
	#homepage-post { border-color: #ace691; background-color: #8fd36f; }
	#homepage-teasers .w-title { border-color: #81c363; background-color: #8fd36f; }
	#homepage-teasers .w-content { border-color: #ace691; background-color: #f1fdeb; color: #73b754; }
	#homepage-post .p-content { color: #e2fdd5; }
	#homepage-teasers {	border-color: #8fd36f; }




/* INNERS PAGES */


	/* PAGE HEADER */
	#page-head { border-color: #8fd36f; background-color: #F1FDEB; }
	#page-head h1 {	background-color: #8fd36f; }
	#breadcrumbs, #breadcrumbs a { color: #73B754; }
	#page #breadcrumbs { border-color: #8fd36f !important; }
	#page #breadcrumbs li { background-image: url("../../img/colors/secondary-green/bc.png"); }
	h1 em, h1 i { color: #e2fdd5; }


	/* BLOG */
	a.comments-count { background-image: url("../../img/colors/secondary-green/comments.png"); }
	a.more { color: #81c363; border-color: #ace691; background-color: #f1fdeb; background-image: url("../../img/colors/secondary-green/more.png"); }
	#pagination li.act a, #pagination li a:hover, a:hover.more { border-color: #73b754; background-color: #8fd36f; }


	/* PAGE ELEMENTS */
	.full-page-text a, #comments a, a:hover, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, #p-filter a.act, .p-item dd a { color: #81C363; } /* links, titles, filter active link, portfolio title link */
	.p-item dt:hover { background-color: #81C363; }
		
	.h-light2, h6, blockquote { color: #73b754; border-color: #73b754; }
	
	blockquote { background-image: url("../../img/colors/secondary-green/blockquote.png"); }
	
	img.alignleft, img.alignright, img.aligncenter, #portfolio-media li.act img, #p-filter a.act { border-color: #8fd36f; } /* image border when hover, filter active link border */
	
	#main-col ul.arrow li { background-image: url("../../img/colors/secondary-green/li.png"); }




/* FORMS */
	input[type="submit"]:hover, input[type="button"]:hover, button:hover { background-color: #8FD36F; border-color: #73B754; }